[2016-12-31 00:37] mbrukman opened #5 "Categorize tests by runtime"
The full test suite has a timeout of 21600 sec (6 hours) in the [`pom.xml`](https://github.com/JanusGraph/janusgraph/blob/e9a806276a29052279dabb5d3a7cf06849490a05/pom.xml#L239) which far exceeds [Travis' 50 min timeout](https://docs.travis-ci.com/user/customizing-the-build#Build-Timeouts).

Experimentally, even following the [`TESTING.md`](https://github.com/JanusGraph/janusgraph/blob/ff59c11ccf01

[2017-01-03 04:14] mbrukman opened #9 "Use static analysis tools to find bugs early"
We should use static analysis tools to find and avoid bugs at compile time, before they become issues at runtime, and become much harder (and hence, costlier) to find and fix.

These can be tools we run offline ourselves, such as

- [ ] [SpotBugs](https://github.com/spotbugs/spotbugs) (formerly known as "[FindBugs](http://findbugs.sourceforge.net/)")
- [ ] [ErrorProne](http://errorprone.info/)
- [

[2017-01-03 22:50] maxluebbe opened #10 "Rename Titan* class names to JanusGraph"
As per issue title, our fork needs to rename classes to remove the Titan name. JanusGraph is the trademark, use that everywhere except in cases where 'Graph' would be duplicated sequentially.

[2017-01-04 00:26] mbrukman opened #12 "Update documentation"
There are several places where documentation appears:

* top-level of the repo: `UPGRADE.asc`, `CHANGELOG.asc`, etc.
* in the `docs/` directory
* in the `janusgraph-docs/` module

These should be changed as follows:
* `CHANGELOG.asc` should be emptied out, and we should start from scratch with a section on "Changes from Titan"
* `UPGRADE.asc` should either be removed or emptied out or include the

[2017-01-04 18:39] mbrukman opened #13 "Add list of authors and contributors"
We need to keep and maintain a list of all authors (copyright holders, which may be individuals or corporations) and contributors (individuals who actually did the work).

For an example, see Go [authors](https://github.com/golang/go/blob/master/AUTHORS) and [contributors](https://github.com/golang/go/blob/master/CONTRIBUTORS). Some projects conflate the two categories, which makes it unclear who

[2017-01-04 18:40] mbrukman opened #14 "Add license headers to all files"
We need to add a license header to all source code (mostly `*.java` but also `*.sh`, etc.) as follows, and replace existing ones, if they don't match it:

[code]

This depends on issue #13 since we first need to have a list of authors (aka _copyright holders_) before we can use the name "JanusGraph Authors".

[2017-01-04 18:43] mbrukman opened #15 "Add a guide for contributors"
We should add a guide for how to contribute to the project, including:

* how / where to sign the ICLA / CCLA
* how to branch and where to push branches for review (personal repo vs. main repo)
* whether or not to squash / rebase /etc.
* how to review PRs (e.g., watching for `cla: yes` vs. `cla: no` labels, test results, etc.)

[2017-01-04 18:51] mbrukman opened #16 "Add support for fuzz testing"
Per [Wikipedia](https://en.wikipedia.org/wiki/Fuzzing):

Fuzz testing helps find hard-to-trigger bugs with less manual effort than via hand-written test cases. There are [various](http://www.guru99.com/fuzz-testing.html) [open-source](https://blackarch.org/fuzzer.html) [tools](https://www.peerlyst.com/posts/resource-open-source-fuzzers-list) for fuzz testing, but it's possible that we may need to

[2017-01-04 18:55] mbrukman opened #17 "Add support for mutation testing"
Mutation testing can uncover ineffective tests or uncovered conditions without significant manual effort by mutating source code before running the tests and seeing if they still pass.

Per [Wikipedia](https://en.wikipedia.org/wiki/Mutation_testing):

There is a list of [mutation testing tools](https://en.wikipedia.org/wiki/Mutation_testing#External_links) at the bottom of that article.

Here are

[2017-01-04 23:19] mbrukman opened #18 "Add timeouts to test classes and methods"
The entire test suite today takes an extremely long time; while there appears to be a global timeout of 21600 seconds (6 hours), running this command:

[code]

may not terminate (and hasn't in over two days). Each of the currently-defined categories of tests [does not terminate](https://travis-ci.org/mbrukman/titan2/builds/187367545) within the 50 minute timeout that Travis sets for tests.

We sho

[2017-01-06 04:47] mbrukman opened #21 "Add code coverage"
We should use a service such as [Coveralls](https://coveralls.io/), [Codecov](https://codecov.io/), or [Circle CI](https://circleci.com/docs/code-coverage/)'s built-in support to track code coverage by tests.

Code coverage is an imperfect metric of test quality (necessary, but not sufficient), but it's an additional useful signal to keep in mind when assessing the quality of the overall test suit

[2017-01-09 17:14] #10 closed, assigned to dylanht

[2017-01-10 03:44] #12 closed, assigned to mbrukman

[2017-01-10 03:48] #13 closed, assigned to mbrukman

[2017-01-11 17:45] #14 closed, assigned to mbrukman

[2017-01-11 23:05] #15 closed, assigned to mbrukman

[2017-01-12 10:11] fppt commented on #21
If I may suggest [Codecov](https://codecov.io/), the module coverage it provides is quite nice or at least not [Coveralls](https://coveralls.io/) because we had issues with it slowing down parallel builds.

[2017-01-12 11:35] fppt commented on #17
I had a play around with with [PIT](http://pitest.org/) it's very easy to setup and really informative the only downside is that I have not figured out how to aggregate mutations across multiple modules. So for Janus it might not be that informative since many of the tests are in a single module.

[2017-01-12 21:33] rustyrazorblade opened #35 "New Cassandra backend using CQL w/ prepared statements"
Thrift is deprecated and will be removed in Cassandra 4.0.

For perf reasons, avoid IN() clauses for selects, prefer concurrent async queries.

[2017-01-13 01:33] jerryjch opened #36 "Remove HBase 0.94 support"
HBase 0.94 is an old release.  Let's deprecate its support.

[2017-01-13 01:35] jerryjch opened #37 "Remove HBase 0.96 support"
HBase 0.96 is an old release and has been end-of-serviced. Let's deprecate its support.

[2017-01-13 01:37] jerryjch opened #38 "Support HBase 1.2"
HBase's current stable release is 1.2.4.
https://archive.apache.org/dist/hbase/stable/

Let's add support for HBase 1.2.x line.

[2017-01-13 03:03] jerryjch commented on #36
There are probably still a lot of 0.94 deployments. It is a long release with many patch releases.
Let's see if we want to remove its support completely.

[2017-01-13 03:05] jerryjch commented on #37
0.96 is short release and quickly become replaced by 0.98.  Should be safe to end its support.

[2017-01-13 05:09] jerryjch opened #39 "Remove hadoop 1 support"
Do we still need to keep the hadoop 1 profile/module?

[2017-01-13 19:06] sjudeng commented on #5
The problems I ran into running tests in Travis were sporadic non-timout failures in all but the titan-test module. At the time I guessed it was some kind of test case threading/Travis resource throttling issue, but I didn't dig in. This was consistently a problem with titan-elastic, but sporadically also a problem in titan-berkeleyje, titan-solr and titan-lucene.

Regarding timeout issues, for wh

[2017-01-13 22:42] pluradj opened #40 "Make snapshot builds available"
https://twitter.com/funkatron/status/819972558871293952

Making snapshot distribution zips available before the first official release will lower the bar for people wanting to try out JanusGraph.

[2017-01-13 23:26] funkatron commented on #40
Thanks! That will help a lot, esp for folks who are not Java-savvy.

[2017-01-14 17:03] robertdale opened #41 "Support Apache TinkerPop 3.2"
3.2.3 is latest at time of this writing.

[2017-01-15 14:53] lazharichir opened #42 "Python 3.5 support for querying a JanusGraph graph?"
Lovely project that will hopefully carry on the great work Titan has started. However, are you guys planning on releasing Python drivers to be able to query intuitively a JanusGraph graph?

[2017-01-15 16:10] sjudeng commented on #42
Take a look at [gremlin-python](http://tinkerpop.apache.org/docs/current/reference/#gremlin-python). I haven't used it myself but it looks like you can connect to graphs (at least through gremlin server) and query. Their example shows Python 3.2.3.

[2017-01-17 15:09] sjudeng commented on #41
@dylanht The branch below updates https://github.com/dylanht/titan/tree/upgrade-to-tinkerpop-3.2.0-incubating to retarget to JanusGraph.

https://github.com/ngageoint/janusgraph/tree/tinkerpop-upgrade

The full test suite including tinkerpop tests (e.g. `mvn clean install -Dtest.skip.tp=false`) has been running for about 36 hours and is about 75% complete with no errors so far. I'll add a comment

[2017-01-17 23:44] dylanht commented on #41
@sjudeng fantastic - I was about self-assign, but it looks like you're about ready to submit a PR. If that's your intention I say go for it - I have something pressing to focus on until Thursday, but I'll checkout the branch you have going and have a closer look then even if there's no PR yet. I had a quick look and I think this is great for two reasons:
1) Inaugural step towards modernizing the f

[2017-01-18 01:01] chrislusf opened #45 "adding vertex with custom id?"
When g.addV(), there are no way to specify the id. The id is auto-generated.

Is it possible to specify the id directly? We have UUID for all entities. Avoiding another redirection will save the extra index on UUID.

[2017-01-18 16:30] sjudeng commented on #41
The tests finished. There were some last minute (literally) failures in janusgraph-solr, but I don't think they were real errors as they only occurred under one account and not another and I couldn't reproduce on other systems.

As before several tests require https://github.com/apache/tinkerpop/pull/458, which was merged after the TikerPop 3.2.3 release. Also the tests were run on an [integrated

[2017-01-18 16:30] rafatuita commented on #45
Once the database is initialized using this "graph.set-vertex-id=false", which is the default, you can't set the IDs.
What it means is that, exporting/importing data using GraphReader's on an existing graph would just duplicate the whole thing up.
In my case, I have a dev graph with many vertices that I'd like to export to some other graph and use the same ID as in the previous graph so it is sort

[2017-01-18 20:46] rafatuita commented on #40
can you guys prioritize this issue @pluradj ? quite a few of us can't migrate from titan without snapshots available. Since this is a fork from latest version, don't see the issue to release it as is...

looking forward to move our code to Janus...

[2017-01-19 01:05] amcp opened #47 "Fix access specifier manipulation in Hex.java"
Fortify says we should not modify accessibility:
https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/diskstorage/util/Hex.java#L104

[2017-01-19 01:17] amcp opened #48 "Fix double-checked locking"
Fortify - Double checked locking does not work

Occurs in three places:
1. [ColumnValueStore.java](https://github.com/JanusGraph/janusgraph/blob/84ead7d/janusgraph-core/src/main/java/org/janusgraph/diskstorage/keycolumnvalue/inmemory/ColumnValueStore.java#L191)
2. [StandardJanusGraphTx.java](https://github.com/JanusGraph/janusgraph/blob/84ead7d/janusgraph-core/src/main/java/org/janusgraph/graphdb/

[2017-01-19 01:23] amcp opened #49 "Fix insecure randomness"
Fortify - Use SecureRandom instead of Random
1. [BackendOperation.java](https://github.com/JanusGraph/janusgraph/blob/84ead7d/janusgraph-core/src/main/java/org/janusgraph/diskstorage/util/BackendOperation.java#L49)
2. [ConsistentKeyIDAuthority.java](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/diskstorage/idmanagement/ConsistentKeyIDAuthority.ja

[2017-01-19 01:26] amcp opened #50 "Fix log forging vunerabilities"
Fortify - validate input from main or dont use input from main in log statement

- [x] [ConfigurationLint.java](https://github.com/JanusGraph/janusgraph/blob/84ead7d/janusgraph-core/src/main/java/org/janusgraph/util/system/ConfigurationLint.java#L46) - Fixed in #469 (verify)
- [x] [GraphDatabaseConfiguration.java](https://github.com/JanusGraph/janusgraph/blob/84ead7d/janusgraph-core/src/main/java/

[2017-01-19 01:27] amcp opened #51 "Use try with resources"
Fortify - should close streams
1. [ConfigurationLint](https://github.com/JanusGraph/janusgraph/blob/84ead7d/janusgraph-core/src/main/java/org/janusgraph/util/system/ConfigurationLint.java#L58)
2. [JanusGraphConstants](https://github.com/JanusGraph/janusgraph/blob/84ead7d/janusgraph-core/src/main/java/org/janusgraph/graphdb/configuration/JanusGraphConstants.java#L58)

[2017-01-19 01:54] amcp opened #52 "Fix npe vunerabilities"
Fortify - High - can crash the program
https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/query/vertex/BasicVertexCentricQueryBuilder.java#L347
https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/database/EdgeSerializer.java#L165
https://github.com/JanusGraph/janusgraph/blob/master/janusgra

[2017-01-19 03:29] mbrukman commented on #9
[Coverity Scan](https://scan.coverity.com/projects/janusgraph-janusgraph) is in progress; results will be open and visible to all within ~48 hours.

[2017-01-19 05:57] mbrukman commented on #21
[Codecov is set up](https://codecov.io/gh/JanusGraph/janusgraph) — we just need to add a tiny amount of config to our `.travis.yml` but since we're not running any tests during our Travis CI build, we'll likely get a consistent 0% coverage.

At this point, we need to fix our test suite to run within reasonable time limits and enable tests to run continuously, at which point we can enable Codecov t

[2017-01-19 07:17] apscomp opened #53 "ScyllaDB support for Thrift and CQL backends"
Is it possible to get some links or add documentation of Storing JanusGraph on a ScyllaDB ?

If it is already in the works... no issues....

[2017-01-19 11:09] analytically commented on #53
FYI https://github.com/scylladb/scylla/issues/693

[2017-01-19 12:05] amcp opened #54 "Address DNS vunerabilities"
Fortify - High - DNS can be spoofed - should pass in IP addresses instead.

https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/util/system/CheckSocket.java#L46

https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/configuration/GraphDatabaseConfiguration.java#L1522

https://github.com/JanusGraph/jan

[2017-01-19 12:32] amcp opened #55 "Mitigate path manipulation risks"
Fortify - High - Require absolute paths and validate file / path inputs

https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/util/system/ConfigurationFileFilter.java#L49

https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/util/system/ConfigurationFileFilter.java#L50

https://github.com/JanusGraph/janusgrap

[2017-01-19 13:00] amcp opened #56 "calls to notify - should we keep track of the thread to call nofity on?"
Fortify low

https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/util/ConcurrentLRUCache.java#L659

https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/util/ConcurrentLRUCache.java#L666

[2017-01-19 16:16] mbrukman commented on #47
@amcp thanks for finding all of these issues via Fortify!

The links you have with line numbers in all of these issues are very handy as direct pointers to the issues; however, if any of those files are modified, the line number may become invalid, because `master` is a moving target. Thus, by the time someone comes around to fix this issue, they may not be able to find which code this is/was refe

[2017-01-19 21:19] sharpau commented on #35
A request for any new Cassandra backend work: please consider better handling for vertices with large numbers of edges. In particular, although one can partition adjacency lists in Titan (http://s3.thinkaurelius.com/docs/titan/1.0.0/graph-partitioning.html), the results of traversals are still subject to hitting the Cassandra frame size limit, even though each individual partition should not.

Giv

[2017-01-20 15:50] ArchaB opened #57 "Failure seen while porting JanusGraph on ppc64le"
Hi All,

I am trying run the JanusGraph build and automated tests on ubuntu 16.10 and RHEL 7.3 VM ppc64le and for the module janusgraph-hadoop-parent, test case verify-janusgraph-cassandra-test fails on both the distros.

The testcase summary file (/janusgraph/janusgraph-hadoop-parent/janusgraph-hadoop-1/target/failsafe-reports/failsafe-janusgraph-cassandra.xml) shows error in 21 tests.

Further a

[2017-01-20 16:24] tspannhw opened #58 "No Releases Available yet"
0.1.0-SNAPSHOT is listed in documentation, but is not in releases in github yet.

http://docs.janusgraph.org/0.1.0-SNAPSHOT/getting-started.html

[2017-01-20 16:30] rafatuita commented on #58
linked to this issue #40 you mean? if so, this is just duplicate.

[2017-01-20 16:31] tspannhw commented on #58
Duplicate, thanks.

[2017-01-20 16:31] #58 closed

[2017-01-20 18:57] sjudeng commented on #57
JanusGraph is currently using TinkerPop 3.1.0 which doesn't look like it supports Hadoop1 anymore. See Hadoop-Gremlin section on the page below. The janusgraph-hadoop-1 module probably just needs to be removed.

http://tinkerpop.apache.org/docs/3.1.1-incubating/upgrade/#_tinkerpop_3_1_0_2

[2017-01-20 19:04] sjudeng commented on #39
Just noticed the TinkerPop 3.1.0 release notes for Hadoop Gremlin state "Hadoop1 is no longer supported". Based on this I'd agree the hadoop1 profile/module should just be removed from JanusGraph.

http://tinkerpop.apache.org/docs/3.1.1-incubating/upgrade/#_tinkerpop_3_1_0_2

[2017-01-20 19:38] jerryjch commented on #39
Thanks for chiming in. Good info.

[2017-01-21 16:54] mbrukman commented on #49
I'm all for using `SecureRandom` vs. `Random`, but my understanding is that typically, more secure random generators require more entropy, and when you run out of such entropy sources, the consumers slow down while they wait for additional entropy. Are the uses of randomness really security-sensitive in JanusGraph? Should we be willing to pay a performance penalty by using more secure random gener

[2017-01-23 08:20] ArchaB commented on #57
Thanks @sjudeng for the quick response.
Will try building JanusGraph by removing janusgraph-hadoop-1 module and update the behavior

[2017-01-23 16:34] rafatuita opened #60 "Cassandra node down - Broken pipe not recovering connection"
I noticed when my cassandra node is down or a network issue happens, Titan (now JanusGraph) wouldn't recover the connection, for the stack below it seems a Thrift issue but with some try/catch we could make try to reconnect when the network is back up...

-----------
[code]

[2017-01-23 16:37] pluradj opened #61 "Upgrade Apache Commons Collections to v3.2.2"
vulnerability that exists. By merely existing on the classpath, this
library causes the Java serialization parser for the entire JVM process
to go from being a state machine to a turing machine. A turing machine
with an exec() function!

https://github.com/thinkaurelius/titan/pull/1277

[2017-01-23 17:38] mbrukman commented on #61
Fixed in PR #62.

[2017-01-23 17:38] #61 closed

[2017-01-23 18:02] jerryjch commented on #18
Here is the result and runtime of my test run over the weekend:

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] JanusGraph: Distributed Graph Database ............. SUCCESS [  0.326 s]
[INFO] JanusGraph-Core: Core Library for JanusGraph ....... SUCCESS [ 30.250 s]
[INFO] JanusGraph-Test: Test Suite for JanusGraph ......... SUCC

[2017-01-23 18:05] jerryjch commented on #18
I am thinking that we will deplicate HBase 0.94 and 0.96.
This will save us quite some time:
[INFO] JanusGraph-HBase: 0.94 Compatibility Shim .......... SUCCESS [ 02:55 h]
[INFO] JanusGraph-HBase: 0.96 Compatibility Shim .......... SUCCESS [ 01:35 h]

[2017-01-23 18:09] mbrukman commented on #18
@jerryjch — I was thinking of doing a poll on the Apache HBase users list as well as the Titan mailing list to see what the distribution is of HBase versions. This will provide valuable data to both HBase developers as well as answer the question for us whether we should be ready to deprecate either or both of these versions. What do you think?

As much as I would love to deprecate older versions

[2017-01-23 18:37] jerryjch commented on #18
@mbrukman  That is a good point.  I recall there was a recent survey on the HBase user list.  Let me dig it out.

[2017-01-23 18:58] jerryjch commented on #18
Posted info on the relevent issues #36 #37

[2017-01-23 19:00] jerryjch commented on #36
Here is a recent survey on the HBase versions used in production from the hbase user list.
https://groups.google.com/forum/#!topic/nosql-databases/TSM63rkMCYc

[2017-01-23 19:02] jerryjch commented on #37
Here is a recent survey on the HBase versions used in production from the hbase user list.
https://groups.google.com/forum/#!topic/nosql-databases/TSM63rkMCYc

[2017-01-23 19:37] pluradj commented on #41
Apache TinkerPop 3.2.4 will be [released soon](https://lists.apache.org/thread.html/669b0e977727cd357bafd17181741f9fb2c79e587b432560271c9792@%3Cdev.tinkerpop.apache.org%3E), so we should be able to pick up the required fix mentioned above as well as a critical security fix for Groovy. Are there any other TinkerPop fixes we need @sjudeng @dylanht ?

[2017-01-23 20:41] sjudeng commented on #41
No all 40 hours worth of TinkerPop tests pass with the above fix.

[2017-01-23 22:06] jerryjch commented on #36
This is also going to be tied with our hadoop support.  #39

Currently in janusgraph-hbase-parent/janusgraph-hbase-094/pom.xml,
   <properties>
        <hadoop.version>${hadoop1.version}</hadoop.version>
        <jruby.version>1.6.5</jruby.version>
        <hadoop.profile>1.0</hadoop.profile>

In the HBase doc, HBase 0.94 claims to only support hadoop 1.
https://hbase.apache.org/book.html#hadoop

[2017-01-23 22:13] hsaputra commented on #36
I think we should just deprecate support for 0.94 while we can. Supporting more versions especially HBase 0.94 is a PITA.

Since we are "new" project it is making sense to start with latest dependencies as much as we can.

[2017-01-24 09:30] ArchaB commented on #57
Enabled Hadoop1 which resulted in 1 testcase (testReadWideVertexWithManyProperties) failure in janusgraph-hadoop-2 package
Failure seen:
```<error type="java.lang.IllegalStateException" message="org.apache.hadoop.mapred.FileAlreadyExistsException: Output directory output/~reducing already exists">java.lang.IllegalStateException: org.apache.hadoop.mapred.FileAlreadyExistsException: Output directory

[2017-01-24 14:06] sjudeng commented on #57
That's a known bug. I think the correct fix is to read `gremlin.hadoop.outputLocation` and create a new temporary directory based on that during test setup. I have the fix in the below branch, though it's part of a wider refactoring to use an abstract base class for these tests to support HBase tests.

https://github.com/ngageoint/janusgraph/blob/hbase-hadoop-fix/janusgraph-hadoop-parent/janusgrap

[2017-01-24 15:30] dylanht commented on #35
@sharpau thank you for the advice. I'm going to self-assign this one, and intend to deprecate thrift support.

[2017-01-25 14:42] sjudeng commented on #35
The thread below mentions using thrift to enable support for ScyllaDB. Would this capability be affected by the proposed updates?

https://github.com/scylladb/scylla/issues/693
https://github.com/JanusGraph/janusgraph/issues/53

[2017-01-25 15:12] rustyrazorblade commented on #35
@dylanht I can help with the data modeling on this.  I'm one of the first people to put titan + cassandra in production, and seen where it fails (miserably).

[2017-01-25 16:12] dylanht commented on #35
@sjudeng I just had a look over ScyllaDB's docs on [Cassandra compatibility](http://docs.scylladb.com/cassandra-compatibility/) and it's my understanding that we can use [CQL Binary Protocol](https://git-wip-us.apache.org/repos/asf?p=cassandra.git;a=blob_plain;f=doc/native_protocol_v3.spec) with ScyllaDB just as well as Thrift (the REGISTER and AUTH_RESPONSE requests, and the AUTHENTICATE response

[2017-01-25 18:03] rustyrazorblade commented on #35
+1 to backend = cql.

While I think it would be nice if ScyllaDB worked correctly, I don't know if that should be the main goal of a *CQL* implementation.  Fortunately I think a reasonable design for a graph doesn't really require a lot of CQL that ScyllaDB doesn't implement, so it should work out.

Generally, it's a good idea to avoid the following Cassandra featuers:

* Materialized Views.  They

[2017-01-25 18:31] sjudeng commented on #35
@dylanht Thanks for the great info! Sounds promising it might just work out. As a separate effort from this we should probably add some tests to validate ScyllaDB support in legacy cassandra and/or cql backend.

[2017-01-25 23:57] jerryjch commented on #39
Resolved by Pull request #65

[2017-01-25 23:57] #39 closed

[2017-01-26 00:00] jerryjch commented on #36
Resolved by Pull request #63

[2017-01-26 00:00] #36 closed

[2017-01-26 16:06] dylanht commented on #35
@rustyrazorblade +1 that the goal here should be integration with Cassandra and not ScyllaDB if I'm reading into your statement correctly. While ScyllaDB's [blurb on licensing](http://www.scylladb.com/opensource/) is reassuring, as they say some entities will not approve AGPLv3.0 regardless. It seems the pragmatic thing to do is to focus on Apache 2.0 licensed Cassandra which likely (speculation o

[2017-01-26 18:31] dylanht commented on #53
Depending on JanusGraph/janusgraph#35

As per the discussion there, it is reasonable to expect ScyllaDB to work as a drop in replacement for Apache Cassandra, both via Thrift and CQL as the protocol used to communicate with the backend. This follows from the assertion in the thread linked by @analytically above (scylladb/scylla#693) that integration via Thrift is working with outstanding concerns

[2017-01-26 18:32] rustyrazorblade commented on #35
Exactly.  If ScyllaDB claims they're a drop in replacement for Cassandra, it's on them to provide the compatibility.  I also haven't talked to a single person using it in production, so compromising on the data model of the graph would be a tradeoff with very little gain.

[2017-01-26 18:46] fppt commented on #35
+1 on the general sentiments of dropping thrift regardless of ScyllaDB. The objective is to maintain the data model on a Cassandra backend. If Scylla claims to be a drop in replacement for Cassandra then it is up to them to provide the CQL interface.

[2017-01-26 19:05] dylanht commented on #35
@fppt @rustyrazorblade agreed, I appropriated #53 for exploring/testing the "drop-in" of ScyllaDB, with the idea that we just test it according to what's existing for Cassandra and if it lives up to the claims great, we'll provide some basic documentation amounting to little more than changing the `storage.backend` value. If we hit snags and as we iterate on `janusgraph-cassandra`, at least we'll

[2017-01-27 01:07] sharpau opened #67 "Update ElasticSearch dependency"
JanusGraph officially is only compatible with ElasticSearch 1.5.x, a release from late 2014 that is no longer supported (EOL was September 2016 https://www.elastic.co/support/eol).

http://docs.janusgraph.org/0.1.0-SNAPSHOT/version-compat.html

I am running Titan in production with ES 1.7.5 with no issues, but that just hit EOL as well. The 2.0 branch is still maintained, and ES recently jumped to

[2017-01-27 03:22] sjudeng commented on #67
The branch below updates JanusGraph to Elasticsearch 2.4.4. I hope to be able to sumit a PR off this shortly. But note this breaks support for Elasticsearch 1.x. Not sure if that'll be acceptable to the community.

https://github.com/ngageoint/janusgraph/tree/elasticsearch-geoshape-upgrade

I do plan to update to support Elasticsearch 5.x unless someone else is already on it. Question is whether w

[2017-01-27 04:08] jerryjch commented on #37
Pushed in Pull request #66.

[2017-01-27 04:08] #37 closed

[2017-01-27 08:01] penberg commented on #53
@dylanht ScyllaDB 1.6-rc1 is already out, which has all the relevant Titan/JanusGraph fixes. There really should be no need for a separate ScyllaDB backend for JanusGraph. If we have Apache Cassandra compatibility bugs, we'll address them in ScyllaDB.

[2017-01-27 13:23] dylanht commented on #53
@penberg Good to know, thanks for the correction and authoritative statement about compatibility. Looking forward to testing Scylla with JanusGraph.

[2017-01-27 22:53] hsaputra opened #69 "Looks like we are missing modes-rexster.png file?"
In the document page for HBase:

http://docs.janusgraph.org/0.1.0-SNAPSHOT/hbase.html

There is a missing link to an image:

http://docs.janusgraph.org/0.1.0-SNAPSHOT/images/modes-rexster.png

[2017-01-27 23:53] mbrukman commented on #69
Looks like my fault (filename misspelled), I'll fix it.

[2017-01-28 00:42] jerryjch commented on #69
Cassandra section 'Remote Server Mode with Gremlin Server' does not have the link to the modes-rexster.png.  Do you want to add it?
http://docs.janusgraph.org/0.1.0-SNAPSHOT/cassandra.html
Or do it separately?

[2017-01-28 01:23] mbrukman commented on #69
@jerryjch – I added another commit to my PR to include the image in the Cassandra docs as well.

[2017-01-28 10:56] penberg commented on #35
@dylanht ScyllaDB supports `REGISTER`, `AUTHENTICATE ` and `AUTH_RESPONSE` messages. The status page seems to be wildly out-of-date. The only limitation in ScyllaDB is that we don't support the newer role-based access control: https://github.com/scylladb/scylla/issues/1941

[2017-01-28 22:36] twilmes opened #71 "Various Gremlin query patterns throw NPE when query.batch=true"
These queries fail when running with `query.batch=true`.

Here are a few simple examples:
- ` g.V().has('id', 1).emit().repeat(out('knows'))`
- `g.V().match(__.as('a').out().as('b'))`

Right now the TinkerPop test suite is not executed with `query.batch` enabled so I believe this should be enabled first under this issue.  With that running, we'll have a better idea of the full scope of `query.batc

[2017-01-29 05:17] hsaputra commented on #69
Since it is merged, will close this issue

[2017-01-29 05:17] #69 closed

[2017-01-30 09:30] neeleshsambhajiche opened #72 "Cassandra 3 Support"
I am interesting in using JanusGraph with Cassandra 3.x. Is there any step that I need to perform to make JanusGraph work with Cassandra 3.x? Are there any special build instructions?

[2017-01-30 11:10] fppt commented on #72
We are currently discussing upgrading the Cassandra backend here: https://github.com/JanusGraph/janusgraph/issues/35

[2017-01-30 14:53] pluradj commented on #72
In the short term though, you should be able to run JanusGraph against a Cassandra 3.x backend without any special build changes to JanusGraph itself -- just make sure you enable thrift for Cassandra.

[2017-01-30 14:53] #72 closed

[2017-01-30 21:33] rafatuita opened #73 "Cassandra keyspace (storage.cassandra.keyspace) and (titan and titan-version)"
Trying to migrate my graph to JanusGraph, but apparently cassandra keyspace changed from `titan` to `janusgraph`, which makes sense, so I just updated the prop `storage.cassandra.keyspace` to `titan` so I could access my data as it was before, now it complains about janusgraph-version..
Some debugging indicated me that if I also provide "titan-version" it works, but I don't have that option as of

[2017-01-30 21:44] mbrukman commented on #73
Thanks for the report and sorry for the trouble! That looks like a bug in JanusGraph.

As part of the migration from the name Titan to JanusGraph, we replaced all code and constances from `titan-*` to `janusgraph-*` but we did not set compatible versions, so we need to update [`GraphDatabaseConfiguration.java`](https://github.com/JanusGraph/janusgraph/blob/ec441ac6d87f3359c9740075786ec6de3651745e/

[2017-01-30 23:59] rafatuita commented on #73
Sure, I'll pick it up tomorrow and send a fix

[2017-01-31 00:11] mbrukman commented on #73
@rafatuita — thanks!

Please note that we'll need you (or an authorized officer of your company) to [sign either the ICLA or CCLA](https://github.com/janusgraph/legal), as appropriate, before we can accept any contributions.

[2017-01-31 04:10] ArchaB commented on #57
Thanks @sjudeng .
Will try on removing the output directory.

[2017-01-31 15:30] mbrukman opened #74 "Enable automated testing on Travis CI"
Right now, our Travis config only runs a build, but no tests, because the full suite times out: Travis CI build/test jobs time out after 50 minutes, and the test suite requires far longer than that.

Note that a Travis CI has a concept of a _Build_ which consists of one or more _Jobs_: each _Job_ has a 50 minute timeout, but there's no limit (to my knowledge) on the number of _Jobs_ that can be in

[2017-01-31 16:31] sjudeng commented on #74
@mbrukman See comment at end of #5. I think there might be a non-timeout issue running tests under Travis. But on the timeout issue note if you break tests out by module all except hbase and cassandra pass under 50 minutes.

[2017-01-31 17:50] rafatuita commented on #73
got the fix ready, the approach I took was to go first on JanusGraph version, try/catch for the exception and look or a compatibility with titan and their versions, so it always tries janus first, if fails, go compatible check.

`janusgraph.compatible.versions` are stored on main `pom.xml`file, so I just added `titan.backward.compatible.versions` with those IDs `1.0.0,1.1.0-SNAPSHOT`.

Since this

[2017-01-31 23:02] jerryjch commented on #38
HBase 1.2 is API compatible and client/server compatible with 1.1 and 1.0.

Currently there are:
JanusGraph-HBase: 0.98 Compatibility Shim
JanusGraph-HBase: 1.0 Compatibility Shim

I don't think we need to create another Compatibility Shim for HBase 1.2.
The same 1.0 Compatibility Shim can be used for HBase 1.2.

So the plan is to support HBase 1.0, 1.1 and 1.2, but no extra sub-module/shim.
I am

[2017-01-31 23:04] jerryjch commented on #38
Any thoughts?

[2017-02-01 15:16] sjudeng commented on #38
From a testing perspective it might be a good idea to include regular test runs of at least the janusgraph-hbase-10 module with the supported versions (e.g. `mvn verify -pl :janusgraph-hbase-10 -Dhbase100.coreversion=1.1.x`, etc.). That's an easy step for a developer to forget is one issue. Other issue is time to run the test suite ... but 0.94 and 0.96 modules were just dropped so I guess easy co

[2017-02-02 01:47] sjudeng commented on #74
Regarding running hbase and cassandra tests under Travis, again assuming no non-timeout issues crop up, how about grouping tests as part of Travis build matrix?

[code]

The largest run time for a test class I see is about 1500 seconds, well under 50 minute timeout. Could group tests as well based on timing (e.g. `-Dtest=ThriftPartitionGraphTest,ThriftDistributedStoreManagerTest`). I'd write a scr

[2017-02-02 05:49] jerryjch commented on #38
Right, it is not required to replace the bundled 1.2 jars in JanusGraph with a set of 1.0 or 1.1 jars to work with a 1.0 or 1.1 HBase cluster.   Replacing would work as well.
Using -Dhbase100.coreversion=1.x.x to run cycles with different versions is an option. That will increase the time.  We will need to judge the risk not running with the extra old versions, which is likely minimal.

[2017-02-03 22:11] mbrukman opened #83 "Replace uses of Whirr with supported tooling"
[Apache Whirr](http://whirr.apache.org/) has been retired; however, we have several uses of Whirr in the docs:

* [`docs/hbase.txt`](https://github.com/JanusGraph/janusgraph/blob/ec441ac6d87f3359c9740075786ec6de3651745e/docs/hbase.txt)
* [`janusgraph-hbase-parent/common/test/conf/whirr-hbase.properties`](https://github.com/JanusGraph/janusgraph/blob/22f584d45d602e4d631ecc8a30f90c4be9f3ffcf/janusgr

[2017-02-05 16:15] sjudeng opened #86 "Use string constants for Elasticsearch config properties"
Adding issue as requested in https://github.com/JanusGraph/janusgraph/pull/79#discussion_r99460333:

ElasticSearchIndex and ElasticSearchSetup use configuration properties as hardcoded strings. These properties should be collected and used as string constants.

[2017-02-05 16:21] sjudeng opened #87 "Hadoop InputFormat tests should check property values"
Adding issue as requested in https://github.com/JanusGraph/janusgraph/pull/81#discussion_r99459683:

CassandraInputFormatIT and HBaseInputFormatIT tests (via AbstractInputFormat in #81) check property counts but should also check property values.

[2017-02-05 16:40] sjudeng opened #88 "Improve support for traversal interrupts"
Adding issue as requested in https://github.com/JanusGraph/janusgraph/pull/78#discussion_r99459762:

Traversal interrupts in at least the HBase backend currently lead to a JanusGraphException rather than a TraversalInterruptException during read in BackendTransaction. Goal here would be to refactor to support throwing and propagating a TraversalInterruptException directly.

[2017-02-05 22:14] mbrukman commented on #74
Partial progress made: PR https://github.com/JanusGraph/janusgraph/pull/85 adds testing of all modules via Travis CI, even though some of them are marked as optional, because they are either known to fail, or fail non-deterministically. Changes are in flight to fix the tests, including:

* [#76: fix Cassandra keyspace regex](https://github.com/JanusGraph/janusgraph/pull/76)
* [#77: ensure Log4j is

[2017-02-06 08:16] amcp opened #92 "migrate es to HTTP client and not TransportClient (on deprecation path)"
At some point in the future, support for the [Transport Client (native Java client) will be removed](https://www.elastic.co/blog/elasticsearch-the-server).
To mitigate, we need to use the HTTP API.

[2017-02-06 08:44] amcp opened #93 "Publish snapshot artifacts somewhere with source"
... so that people can build on janus while we incubate and be able to debug with source code.

[2017-02-06 14:09] sjudeng commented on #92
The current Java REST client in Elasticsearch 5.x is very low level. I'd recommend waiting until they release a higher level Java REST client before working on migration to avoid unnecessary work.

[2017-02-06 14:20] amcp commented on #92
I agree it is extremely low level and would require major refactoring. We should wait for a higher level REST client. I just wanted to get ES lack of commitment to the transport client on our radar (so that we know to plan for it).

[2017-02-07 00:09] mbrukman commented on #93
Duplicate of https://github.com/JanusGraph/janusgraph/issues/40?

[2017-02-07 01:22] mbrukman commented on #69
Pushed changes to http://docs.janusgraph.org; both URLs from [initial report](https://github.com/JanusGraph/janusgraph/issues/69#issue-203760482) now work.

[2017-02-07 15:30] twilmes opened #95 "Add developer contribution guideline docs"
Document the JanusGraph development process including:

* policy for commits
* design docs and project decision making
* release policy

[2017-02-07 17:30] sjudeng commented on #41
TinkerPop 3.2.4 was released yesterday (thanks @pluradj). After updating there are a number of test failures/errors. All issues appear to be in `org.apache.tinkerpop.gremlin.process.traversal.step.map.ProfileTest`. Hopefully these won't be too hard to squash but in the meantime #78, which is currently under review, offers a stable update to the previous release (3.2.3).

[2017-02-07 23:53] pluradj commented on #41
It was tagged, not quite official yet. Still needs to go through a VOTE.

On Tue, Feb 7, 2017 at 12:30 PM, sjudeng <notifications@github.com> wrote:

[2017-02-08 17:52] dylanht commented on #41
@pluradj I squashed my commits in the branch that @sjudeng merged in for PR #78 and "remembered" that I was running into issues with profiling in the tests back in May this year when I tried to update support for TinkerPop to 3.2.x - I noted in the commit message a few classes in JanusGraph that merit looking into re: profiling, and I believe the changes that https://github.com/rjbriody made to pr

[2017-02-08 18:09] sjudeng commented on #41
@dylanht Thanks for doing the squash work. I'll get that PR updated. The TinkerPop profile tests do run without issue in #78 based on version 3.2.3 but maybe the tests added in 3.2.4 show issues hidden by previous gaps in testing is what you're thinking? Are you okay with moving forward with the #78 merge and then working these issues as part of follow-on work to update to 3.2.4?

[2017-02-08 19:12] ptgoetz opened #97 "[COMMITTERS] Register with Sonatype"
In order for committers to push artifacts to maven central as part of the release process, each must have a Sonatype Nexus account with permissions for the "org.janusgraph" group ID.

I have a Nexus account and can set this up,  but it would be best if I can setup the "org.janusgraph" users in bulk.

Anyone who is interested in acting as a release manager for JanusGraph should register for a JIRA

[2017-02-09 09:16] decebal commented on #42
You can also try [goblin](https://github.com/davebshow/goblin) which has been rewritten for 3.5 or [gizmo](https://github.com/emehrkay/gizmo)

[2017-02-09 15:41] dylanht commented on #41
@sjudeng No problem sorry for the delay on my end - yes, I am okay with moving forward on #78 at this point. Reading over my commits and seeing this here gave me a bit of a pause, but since the tests run without issue I don't think paranoia over what they could be missing between 3.2.3 and 3.2.4 is helpful. If I laid any traps for us in my commits that you tidied up for #78 (thanks again for that)

[2017-02-09 20:06] pluradj opened #100 "Upgrade to BerkeleyDB JE 7.3.7"
[Oracle Berkeley DB Java Edition](https://docs.oracle.com/cd/E17277_02/html/), 12c Release 1
Library 12.1.7.3, Version 7.3.7, 2017-02-01 03:44:57 UTC

[Release notes](https://docs.oracle.com/cd/E17277_02/html/relnotes.html)

w00t

[Change log](https://docs.oracle.com/cd/E17277_02/html/changelog.html)

My initial testing has been successful. Reading in a BerkeleyJE graph with the old version worked

[2017-02-10 02:48] jerryjch opened #102 "Update the Version Compatibility Matrix"
http://docs.janusgraph.org/0.1.0-SNAPSHOT/version-compat.html

Update the support matrix after the recent upgrades of the components.
We can wait until the major upgrades are all in before updating this doc for the first release.

[2017-02-10 02:51] jerryjch commented on #102
More information can be added there.  For example, hadoop version, Java version.

[2017-02-10 02:58] jerryjch commented on #100
Fixed in PR #101

[2017-02-10 02:58] #100 closed

[2017-02-10 11:45] lindsayismith opened #103 "Add support for Google Bigtable over the Hbase interface"
JanusGraph should support using Google Bigtable as a backend over the HBase interface. Some minor changes are required, plus some library dependencies.

[2017-02-10 14:02] rafatuita opened #104 "Each property lookup resulting backend call (Vertex Centric Index queries)"
As described in this post https://groups.google.com/forum/#!topic/aureliusgraphs/qd71sHiCHYI , we should consider enabling this configuration by default to avoid performance degradation.

Need to investigate why this has been disabled previously.

[2017-02-10 19:16] guyellis opened #105 "(Missing) Index Usage Analytics"
This warning:

[code]

I believe is generated by [this line](https://github.com/JanusGraph/janusgraph/blob/ec441ac6d87f3359c9740075786ec6de3651745e/janusgraph-core/src/main/java/org/janusgraph/graphdb/transaction/StandardJanusGraphTx.java#L1276).

I am thinking about modifying that section of code to try and collect stats that will aggregate missing index information to provide value/cost data in

[2017-02-10 20:17] twilmes commented on #97
Thanks for coordinating @ptgoetz.  My id is `twilmes`.

[2017-02-10 20:49] pluradj commented on #97
I have `pluradj`

[2017-02-11 19:47] jerryjch commented on #38
Fixed by PR #94

[2017-02-11 19:47] #38 closed

[2017-02-12 00:59] amcp commented on #105
I would be cautious of the performance effect of such a change (because it would get executed in each traversal step). To control the CPU and memory usage side effects, you could limit the output of your new metrics to the top ten missing indexes, and sample call data (instead of record all of it). You could use metrics and create new metrics ad-hoc to track each missing index. Currently, you have

[2017-02-12 01:02] amcp commented on #103
I vaguely remember some work you did in graphdb-benchmarks. This effectively mostly requires a configuration file, right?

[2017-02-12 01:17] guyellis commented on #105
@amcp I agree that there might be a performance effect while collecting that. It's something that one would enable for a short period of time (hours or days) to assist in fine tuning and usage discovery.

Thanks for the tip on `force-index`. I've seen that in the docs but not tried it yet.

[2017-02-12 02:26] amcp commented on #93
closing as it is a duplicate.

[2017-02-12 02:26] #93 closed

[2017-02-12 10:35] amcp commented on #97
I have amcp

[2017-02-12 10:38] amcp commented on #104
Matthias [turned fast-property off by default for the Titan 1.0.0](https://github.com/JanusGraph/janusgraph/commit/ec088079b2f4b64945b7c11f134987c99e519e47) release, for no particular reason. I suggest we turn it back on, or at least discuss this configuration option in the vertex-centric index bit of the documentation

[2017-02-12 10:41] amcp opened #107 "0.1.0 post-release activities"
- [x] [Request listing on TP landing page](
https://lists.apache.org/thread.html/246807a067c2ef05d82c1bf38ac53dea1138f89ed0a76f298df9cd84@%3Cdev.tinkerpop.apache.org%3E)

[2017-02-13 00:29] twilmes commented on #104
I think it makes good sense to default this back to true. Perhaps we can start a discussion on janusgraph-dev and assume lazy consensus in 72 hours if no one objects just in case anyone has a good reason to leave it false.

[2017-02-13 02:54] mbrukman commented on #107
@amcp – adding this issue to the 0.1.0 milestone means it's a _blocker_ for the 0.1.0 release, whereas the dependency is exactly the opposite: the ability to be listed in the TinkerPop list is dependent on the release, not the other way around.

However, for tracking purposes, we should keep only the issues blocking the release itself referenced by the milestone, as the % completeness directly rel

[2017-02-13 03:00] jerryjch commented on #97
My id is 'jerryjch'. Thanks!

[2017-02-13 03:20] mbrukman commented on #103
I think this required some updates to the HBase backend, because it was using older APIs rather than the new HBase 1.0+ APIs, but some of the updates that @lindsayismith needed to make happened as a result of [adding support for HBase 1.2](https://github.com/JanusGraph/janusgraph/pull/94#pullrequestreview-21226333).

@lindsayismith, are there any other outstanding patches to the HBase backend to m

[2017-02-13 05:18] amcp commented on #107
@mbrukman I agree, so I changed the name of the issue and we can start a list in the description

[2017-02-13 05:21] amcp commented on #47
@mbrukman I will fix the links as you describe!

[2017-02-13 06:17] amcp opened #111 "Reduce amount of time to run tinkerpop tests from 40 hours to 2.5 hours"
Status of builds in janusgraph-codepipelines-ci/pipe.yml/j1:
- [x] bdb - Passed in 15 min 10 secs
- [x] hadoop-lucene-solr - Passed in 21 minutes 12 seconds
- [x] cassandra - Passed in 110 minutes
- [x] test - Passed in 21 minutes 37 seconds

Status of builds in janusgraph-codepipelines-ci/pipe.yml/j2:
- [x] hbase098 - Passed in 65 minutes
- [x] hbase10 - Passed in 39 minutes 44 seconds
- [x] es -

[2017-02-13 07:57] samikrc commented on #104
Well - I guess defaulting the value to true would make sense as long as the number of properties on an element is reasonable - which is probably the majority of use cases. The graph that we have (in titan at the moment), has a few nodes containing ~25 properties. Hopefully that number is small enough.

Can the OP of that thread comment on the number of properties that were there on the elements?

[2017-02-13 18:19] aphelps commented on #104
I was the OP on that thread.  For our system, we usually have ~5-10 properties on any given vertex, and all property data is short (integers or short strings).  I do think that the majority of use cases would prefer fetch all in one go, given that the new-to-1.0 one-at-a-time default dramatically slowed things down due to all the additional trips to the back end.

[2017-02-13 20:39] ptgoetz commented on #97
Thanks for the updates. I'll wait 24 hours to give others a chance to sign up, then submit the request to Sonatype.

[2017-02-13 20:46] mbrukman commented on #97
My id is `mbrukman`.

[2017-02-14 01:20] amcp commented on #111
@sjudeng do you have any insight as to why these tests take so long? any clues on getting the time to complete faster?
@mbrukman our development and release velocity will continue to be adversely affected until we can get this time down.

[2017-02-14 08:38] lindsayismith commented on #103
I do have another PR I need to finish, it's quite small.  I'm working on that this week.

[2017-02-14 22:28] sjudeng commented on #111
There are a large number of tests (see below). The total time is driven by the Cassandra and HBase modules. If you exclude those the total runtime is around 5 hours.

| Module | Test Count | Time (sec) |
| ------ | ---------- | ---------- |
| JanusGraph-Test | 4496 | 2892 |
| JanusGraph-BerkeleyJE | 3191 | 12272 |
| JanusGraph-Cassandra | 3109 | 50577 |
| JanusGraph-ElasticSearch | 75 | 696 |
| Ja

[2017-02-15 13:27] robertdale commented on #41
TinkerPop 3.2.4 Released

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/gremlin-users/qQEF1l8Pm6E/ETU2bD0rCwAJ

[2017-02-15 16:26] amcp opened #113 "Mitigate eclipse warnings in Problems view"
Will help developers quickly identify issues in code. Currently more than 2000 warnings. Ideally would like zero.

[2017-02-15 18:33] ptgoetz commented on #97
JIRA ticket has been submitted: https://issues.sonatype.org/browse/OSSRH-28274

I will close this issue when the ticket is resolved. Turnaround time is typically 24 hrs.

[2017-02-15 20:55] shawks03 opened #114 "Add support for shading third-party dependencies"
When trying to use Spark (v2.0.x) within the same JVM, there are dependency conflicts. Namely with the guava library. Spark uses a different version. Maybe the dependencies can be shaded to avoid these kind of problems?

[2017-02-16 01:16] sjudeng commented on #57
FYI the fix described above has now been merged into master so hopefully this issue is resolved.

[2017-02-16 07:25] inho1213 commented on #114
Why don't you use maven-shade-plugin?
If you make a uber-jar with class relocation, you will avoid dependency conflicts.
https://maven.apache.org/plugins/maven-shade-plugin/examples/class-relocation.html

[2017-02-16 20:56] shawks03 commented on #114
But it's the dependencies (3rd party libraries) within JanusGraph and Spark that are conflicting. Correct me if I'm wrong, but wouldn't creating the uber-jar require modify the build for either JanusGraph or Spark?

[2017-02-17 02:41] inho1213 commented on #114
I have an experience that insert vertices and edges to titan using spark.
When I submitted spark job, I encountered guava dependency conflict.
If you are same as my situation, make uber-jar to solve problem.
But otherwise I think it's a different issue.

[2017-02-18 01:50] amcp opened #117 "Add Tupl support"

[2017-02-18 13:44] jfstephe opened #119 "Suggestion: Document improvement"
Hi,
Please can you remove references to ‘cluster’ from JanusGraph documentation, specifically on the Graph Partitioning page – this is one thing that threw me with Titan, as there is no 'cluster'. There are several isolated standalone services.

I would also love to see a recommended/suggested/example production architecture diagram (not just words please), with high availability etc, for both the

[2017-02-18 13:50] jfstephe opened #120 "What does ids.num-partitions do?"
I know there's the [documentation ](http://docs.janusgraph.org/0.1.0-SNAPSHOT/config-ref.html) but it's unclear how it relates to ids.block-size. Can someone add more colour to the documentation please?

Better explanation of usign ids.block-size to reserve blocks of ids by each instance could be better explained too. Maybe detail somewhere what Janus does at startup etc? I'm not sure I've see tha

[2017-02-18 14:04] FlorianHockmann commented on #119
Big +1, especially for the recommended production architecture diagram! Maybe more than one diagram would be helpful for different scenarios like with/without an index backend (and which one), with/without Spark and so on. Figuring this out is probably one of the biggest problems newcomers have.
I tried to explain a setup for Titan with Spark [on StackOverflow once](http://stackoverflow.com/a/4018

[2017-02-18 16:35] twilmes commented on #104
Thread started here: https://groups.google.com/forum/#!topic/janusgraph-dev/P94zxhUbubc.  No one piped up so I think we should go ahead and turn fast-property back to true.

[2017-02-18 16:40] rafatuita commented on #104
I'm picking it up, make some tests and debugs, if I don't find anything
weird, I'll PR to the project...

Cheers,
Rafa
On Sat, Feb 18, 2017 at 11:35 AM Ted Wilmes <notifications@github.com>
wrote:

[2017-02-18 16:43] twilmes commented on #104
Excellent, thanks @rafatuita.

[2017-02-18 21:43] xdev-developer opened #121 "Unique index failed when vertex creation running in parallel"
Hi all.
Unique index not working when run vertex creation in parallel.
[code]
Result:
[code]
This additional vertex cannot be removed, operation failed with status NOT_FOUND.

[2017-02-19 08:15] amcp opened #123 "Fix Berkeley/Tupl FixedLengthKCVSTest/testConcurrentGetSliceAndMutate"

[2017-02-19 08:15] amcp opened #124 "Fix Berkeley/Tupl VariableLengthKCVSTest/testConcurrentGetSliceAndMutate"

[2017-02-19 08:16] amcp opened #125 "Fix Berkeley/Tupl GraphTest/testConcurrentConsistencyEnforcement"

[2017-02-19 08:24] amcp opened #126 "Fix Berkeley/Tupl GraphTest/testConsistencyEnforcement"

[2017-02-20 11:21] xdev-developer commented on #121
related to https://github.com/JanusGraph/janusgraph/issues/121

[2017-02-20 11:36] amcp commented on #121
Do you mean related to a different issue? This issue is #121

[2017-02-20 12:55] xdev-developer commented on #121
Oh, sorry wrong issue number. Comment edited.
After debugging of testConcurrentConsistencyEnforcement, I can say, this is same problem.

[2017-02-20 17:10] amcp commented on #111
@sjudeng I have been thinking about this issue. From your TP 3.2.3 work, I saw the command `mvn clean install -Dtest.skip.tp=false` that you used to invoke tp tests. Is there a way to run TP tests without running the tests that normally run? Ie, I want to skip the tests under `*janusgraph*diskstorage*` and `*janusgraph*graphdb*`. My idea is to cut the tests into as small pieces as possible, and ru

[2017-02-20 18:24] amcp opened #128 "Add dependency license check to Travis CI"

[2017-02-20 18:50] amcp opened #130 "figure out a way to disable travis builds for [WIP] CR?"

[2017-02-20 22:27] sjudeng commented on #130
Looks like Travis supports this if you include `[skip ci]` or `[ci skip]` in commit messages.

https://docs.travis-ci.com/user/customizing-the-build#Skipping-a-build

[2017-02-21 01:43] amcp commented on #130
thanks for the cost saving tip! closing

[2017-02-21 01:43] #130 closed

[2017-02-21 03:52] amcp opened #131 "Use jBCrypt dependency from central"
I ran `mvn project-info-reports:dependencies` and got the following error a few times
Created ticket with sonatype to publish jBCrypt to central: https://issues.sonatype.org/browse/OSSRH-28388

Stack trace below

[code]

[2017-02-21 04:23] pluradj commented on #131
This was fixed recently in Apache TinkerPop with https://issues.apache.org/jira/browse/TINKERPOP-1633

@dysmento would you like to submit a similar fix on JanusGraph?

[2017-02-21 05:39] amcp commented on #131
@pluradj Good find. I will submit a PR for this

[2017-02-21 05:40] amcp commented on #131
closed the sonatype jira

[2017-02-21 06:57] amcp commented on #131
Appears to be fixed on TP master branch tracking 3.3 but not 3.2.3 nor 3.2.4 (the latest released versions). So depending on our release schedule and TP 3.3 release schedule, this may not get fixed in our first release. removing milestone from this issue

[2017-02-21 07:00] amcp commented on #131
https://github.com/apache/tinkerpop/blame/master/gremlin-groovy/pom.xml#L69

[2017-02-21 08:00] ArchaB commented on #57
Thanks @sjudeng for the intimation.
I tried to build the latest Janusgraph code, but it build failed for the 'JanusGraph-Core: Core Library for JanusGraph' package.

Failure seen:
[code]

Am I missing something? I followed all the steps I had performed last time.

[2017-02-21 08:45] amcp opened #132 "Mitigate dependencies on software with non-permissive licenses"
Work being done in PR #137 revealed the following:

- [x] org.acplt:oncrpc:1.0.7 - LGPL
- [x] com.vividsolutions:jts:1.13 - LGPL
- [x] com.github.stephenc.high-scale-lib:high-scale-lib:1.1.4 - Public Domain
- [x] org.tukaani:xz:1.0 - Public Domain
- [x] org.reflections:reflections:0.9.9-RC1 - WTFPL

[2017-02-21 13:16] amcp opened #133 "Mark JTS as optional in janusgraph-solr and update docs"
JTS is currently a non-optional dependency in janusgraph-solr and is distributed with JanusGraph (and previously Titan) releases. What could be done is to mark it as optional in the pom.xml files so it's available for tests and users with requirements for relevant features (Solr, Geoshapes, etc.) can manually add it to their lib directory. Docs also need to be updated to instruct users to manually

[2017-02-21 14:37] sjudeng commented on #111
Yes you can run just the TP tests: `mvn clean install -Dtest.skip.tp=false -DskipTests=true` (see https://github.com/JanusGraph/janusgraph/blob/master/BUILDING.md). I think hbase/cassandra module tests could even be split into groups if high parallelism, and associated high core/memory resource requirements, is an option.

[2017-02-21 16:00] pluradj commented on #132
Berkeley DB JE license was changed to Apache in version 7.3.7, see https://github.com/JanusGraph/janusgraph/issues/100

[2017-02-21 16:12] pluradj commented on #131
Ah, right. It came in immediately after the TP 3.2.4 release. In the meantime, we can add the JitPack repository https://jitpack.io/#jeremyh/jBCrypt/jbcrypt-0.4

[2017-02-21 16:18] amcp commented on #111
@sjudeng thanks for the tip. I added a few definitions in #129 based on Travis CI, lets see how far I get.

[2017-02-21 16:21] pluradj commented on #57
@ArchaB Is your Maven configured to use a proxy? That pentho mirror doesn't seem to have the tinkerpop libraries. One option would be for you to build/install TinkerPop 3.2.3 on the same machine, then it would find it in your local repo.

[2017-02-21 18:30] amcp commented on #111
It seems like HBase TP is the tallest pole at 21.6 hours and Cassandra the next tallest pole at 14.1 hours. I want to poke at easy ways to divide TP HBase up into 3 hour chunks and the same for TP Cassandra. You just made me realize that I need to raise the timeouts on my build definitions in #129 , thanks!

[2017-02-21 22:10] shawks03 commented on #114
What was in your uber-jar? All the titan libraries?

[2017-02-22 02:29] amcp commented on #132
@pluradj great, removing.

[2017-02-22 06:42] inho1213 commented on #114
titan-core, titan-cassandra, titan-es, spark-core_2.11, spark-sql_2.11, spark-streaming_2.11 and spark-streaming-kafka_2.11 all together.

[2017-02-22 11:23] amcp commented on #97
@ptgoetz Ticket at sonatype is resolved but not closed. Keep this issue open until we release or close now?

[2017-02-22 19:52] ptgoetz commented on #132
JSONP should be okay since we are only including it in binary form (we would select CDDL in the LICENSE file).

Here's the relevant info for how Apache handles these types of licenses, also known as "Category B": https://www.apache.org/legal/resolved#category-b

[2017-02-23 09:25] kottmann opened #134 "Update Hbase docs: storage.hbase-config is now storage.hbase.ext"
The documentation explains how to pass Hbase configuration settings through JanusFactory to HBase
in section 16.2:
http://docs.janusgraph.org/0.1.0-SNAPSHOT/hbase.html

"By prefixing the respective HBase configuration option with storage.hbase-config in the Janus configuration it will be passed on to HBase at initialization time."

I tried this, looked it up in the code and came to the conclusion

[2017-02-23 09:54] leafty opened #136 "Property datatype not checked"
In the [documentation (ch5)](http://docs.janusgraph.org/0.1.0-SNAPSHOT/schema.html#_property_key_data_type), it reads that "Use dataType(Class) to define the data type of a property key. JanusGraph will enforce that all values associated with the key have the configured data type and thereby ensures that data added to the graph is valid."

However, while playing around with JanusGraph, I've found

[2017-02-23 14:49] amcp commented on #111
@sjudeng The longest tests are in cassandra and hbase10, at around 2 hours and 10 minutes each. Every other individual test class takes less time than that to complete. Seems like that will be our new release build cycle time. I suggest we isolate every single test that took more than 900 seconds (15 minutes) in your build in a separate build plan. After some rearranging, I came up with a total of

[2017-02-23 15:32] pluradj commented on #136
The value `[1, 'abc']` was coerced into a `String` with value `"[1, 'abc']"`. You can check its data type with `g.V(8336).properties('name').value().next().getClass()`.

[2017-02-23 17:12] sjudeng commented on #111
It sounds very promising. I'm not familiar with AWS code pipelines. Not sure what you've found but I wouldn't be surprised if many groups need to be fully isolated (separate instance/container) from each other to avoid unexpected interactions. Many may also require at least a couple cores and 1-2G memory. What would be the size/number of EC2 instances needed to run these pipelines to get all tests

[2017-02-24 03:20] sjudeng opened #138 "Automatically validate janusgraph.sh script during release build"
Update `janusgraph-release` section of [distribution POM](https://github.com/JanusGraph/janusgraph/blob/af3fa20ecd362a694f685f92c218b092a273b89d/janusgraph-dist/janusgraph-dist-hadoop-2/pom.xml) to run [janusgraph.sh](https://github.com/JanusGraph/janusgraph/blob/af3fa20ecd362a694f685f92c218b092a273b89d/janusgraph-dist/src/assembly/static/bin/janusgraph.sh) to verify relevant embedded services can

[2017-02-24 09:45] leafty commented on #136
Ok, so I've seen [here](https://github.com/JanusGraph/janusgraph/blob/01fc5b66725443a67e549be6a05c54e71eec655a/janusgraph-core/src/main/java/org/janusgraph/graphdb/transaction/StandardJanusGraphTx.java#L573-L599) that serializers associated to the datatype are responsible for the type conversion.

From the wording of the documentation, I thought it would be more strict on types and I guess it can

[2017-02-24 09:45] #136 closed

[2017-02-24 10:01] kottmann opened #139 "Add a PR Review Template for contributors"
To make the life of the maintainers and contributes easier I would like to propose to add a PR Review Template that is shown when the PR is send. The contributor then sees the template and can fill it out. This should lead to a smoother process which requires less interaction between maintainers and contributors.

[2017-02-24 19:05] jerryjch commented on #134
Fixed by PR #135

[2017-02-24 19:05] #134 closed

[2017-02-24 23:52] twilmes commented on #95
Fixed in PR #106.

[2017-02-24 23:52] #95 closed

[2017-02-26 03:56] amcp commented on #132
Completing #133 and #79 will address the JTS dependency

[2017-02-26 04:00] amcp opened #140 "Enable easy first five minute CX with docker images"
Right now, it is difficult for people to get started with JanusGraph as we have not made an official release. To hold over the community until that happens, lets make it easy for people to get up and running on JanusGraph:

[code]

[2017-02-26 04:31] amcp opened #142 "Implement TTL in berkeleyje backend"
BerkeleyJE recently introduced TTL support. Since we updated our dependency on it, we can also have the store manager implement TTL.

[2017-02-28 01:49] psterk1 commented on #35
+1 for supporting CQL backend

[2017-02-28 18:29] jerryjch opened #143 "Redirect test case output to their individual output files."
Currently, all the test cases in a module output their logging to a single file `test.log`.
Also there are some console output from the test cases interleaving with formal status and result on the console.
We can re-direct the logging output and console output to individual output file for each test case. On the console, the test result will be displayed cleanly without output in between.
[code]
S

[2017-02-28 22:56] pluradj commented on #139
Do you have an example template, perhaps from another open source project, that could be reused?

[2017-02-28 23:47] kottmann commented on #139
Have a look at this commit:
https://github.com/apache/opennlp/commit/decaab59b5f75c478efe3add62373c9781f4df12

What is the best way to start a discussion with Janus Graph people about that?

You can take that and adapt that to your needs.

[2017-03-01 14:12] amcp commented on #139
Took a look

@kottmann Perhaps a thread on the google group would be appropriate. Some adjustments would need to be made, but I think it is close.

[2017-03-01 14:40] amcp opened #144 "Enable iterative benchmark tests or put in a profile"
These tests are commented out but should be controlled by a maven profile or some similar mechanism.

https://github.com/JanusGraph/janusgraph/blob/01fc5b66725443a67e549be6a05c54e71eec655a/janusgraph-test/src/main/java/org/janusgraph/graphdb/JanusGraphIterativeBenchmark.java#L57

https://github.com/JanusGraph/janusgraph/blob/01fc5b66725443a67e549be6a05c54e71eec655a/janusgraph-test/src/main/java/or

[2017-03-02 16:09] kottmann commented on #139
Great, let me put together a PR and so we have a basis for discussions.

[2017-03-03 15:00] pluradj commented on #92
Related dev mailing list discussion https://groups.google.com/d/msg/janusgraph-dev/F-zfIsuiIoQ/q_R-kkhHDgAJ

[2017-03-03 16:22] amcp opened #147 "Enable custom id setting in JanusGraphBlueprintsTransaction"
JanusGraphFeatures suggests that the use of custom vertex ids through TinkerPop Structure [depends on the allowVertexIdSetting() value](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/tinkerpop/JanusGraphFeatures.java#L179). However the TitanBlueprintsTransaction implementation [forbids custom ids regardless of the allowVertexIdSetting](htt

[2017-03-05 19:13] mbrukman opened #149 "Deferred docs cleanup"
This issue will catalog the deferred cleanup tasks identified during the review of PR #115.

- [ ] `docs/basics.txt`: "We already differentiate between LOCAL and REMOTE deployments. And refer to BerkeleyJE as an embedded persistence engine. Somewhere I also think I saw "embedded Cassandra" in Janus. Shall we call this "serverless" or "headless" mode to avoid confusion with other uses of the word e

[2017-03-06 10:40] DamienLF opened #150 "Build Janusgraph"
Hi,

I tried to build Janusgraph with `mvn clean install -Pjanusgraph-release -Dgpg.skip=true -DskipTests=true` but an error occurred at "Building JanusGraph-Hadoop: 2.x Compatibility Shim 0.1.0-SNAPSHOT" :

mars 06, 2017 10:20:54 AM org.apache.maven.wagon.providers.http.httpclient.impl.execchain.RetryExec execute

[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e

[2017-03-06 11:35] DamienLF commented on #150
I ran it on Ubuntu 16.04.2 LTS with openjdk version "1.8.0_121" and Apache Maven 3.3.9.

[2017-03-06 16:53] MichaelMarkieta commented on #67
I am interested in the support for ElasticSearch 5.x. Let me know if there is anything I can help with.

[2017-03-06 17:04] pluradj commented on #150
The error indicates a network connection issue with Maven Central `https://repo.maven.apache.org:443: Connection reset`. I'd suggest trying again later on. FWIW, I just ran successfully a clean build against `master` using that exact same command.

Re: Dockerfile -- see https://github.com/JanusGraph/janusgraph/issues/140

[2017-03-06 17:04] #150 closed

[2017-03-06 20:17] sjudeng commented on #67
@MichaelMarkieta There's related discussion on the list below. It would be useful if you're interested in chiming in there on your opinion on whether to maintain support for ES 1.x, or just go forward with 2.x/5.x compatibility, and whether to support node/transport clients or just the HTTP client (ES RestClient or Jest client).

https://groups.google.com/forum/#!topic/janusgraph-dev/F-zfIsuiIoQ

[2017-03-06 22:11] trixpan commented on #132
xz is also used by other ASL projects including Apache Commons - Compress and Apache Tika

[2017-03-07 14:11] MichaelMarkieta opened #151 "Document dropping data, schema and graphs using gremlin groovy commands"
It would be beneficial to the community to have the commands required to drop the data, schema and graphs within the Getting Started documentation: http://docs.janusgraph.org/0.1.0-SNAPSHOT/getting-started.html

The only commands that I know are below (Cassandra + ES specific).

[code]

Is there a better way to do this from within the Gremlin shell?

[2017-03-07 15:21] pluradj commented on #151
Thanks for the suggestion. There are other cleanup approaches, in addition to the one you mentioned.

- `graph.close(); org.janusgraph.core.util.JanusGraphCleanup.clear(graph)` will clear the data in the backend storage and index providers. This works generically against any of the backends.
- If you're using `./bin/janusgraph.sh start` as described in the [pre-packaged distribution docs](http://d

[2017-03-07 15:26] MichaelMarkieta commented on #151
@pluradj thanks, I will submit the PR later today.

[2017-03-07 16:05] MichaelMarkieta opened #152 "Document using GeoJSON (feature or geometry) format for Geoshape edge and vertex properties"
This page documents using GeoJSON feature or geometry for Geoshape with GraphSON: http://docs.janusgraph.org/0.1.0-SNAPSHOT/search-predicates.html. What would be the implementation method when we want to use GeoJSON on a property of an edge or vertex?

Here is what I've tried so far:

[code]

[2017-03-07 17:38] sjudeng commented on #152
Currently GeoJSON is only (directly) supported in JanusGraph when doing graph IO to/from GraphSON.

[code]

There are some additional Geoshape constructors added in #79. In particular you can instantiate directly from a Spatial4j shape.

[code]

[2017-03-07 23:20] MichaelMarkieta opened #153 "Document how to specify additional parameters during index build (e.g. date format for ElasticSearch)"
There is no documentation on how to specify additional parameters during index building (e.g. date formats for ElasticSearch https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html). I am not even sure if this can be done at this point? I got to this point in the source and then I got stuck: https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/m

[2017-03-08 01:14] sharpau opened #154 "Use of Groovy scripting in ElasticSearch indexing backend limits indexed property size"
Groovy's maximum string size is 65535 characters. Because a mutation to an ES-indexed property sets that property via a Groovy script, the effective limit on ES-indexed properties is 65535 characters.

69b79da3909d74223752de333112de783b510858: 1: String too long. The given string is 994823 Unicode code units long, but only a maximum of 65535 is allowed.
 @ line 1, column 27.
   ctx._source["Docume

[2017-03-08 04:36] twilmes opened #155 ""Query requires iterating over all vertices" warning when using g.V().hasId(x)"
This is a copy of https://github.com/thinkaurelius/titan/issues/1284.  `hasId()` is not folded into `JanusGraphStep` so a full scan is run if scans are allowed.

[2017-03-08 05:10] sjudeng commented on #153
Setting custom date formats for ES is not currently supported. Mapping customization is currently limited to string types. The [index parameters documentation](http://docs.janusgraph.org/0.1.0-SNAPSHOT/index-parameters.html) includes examples showing using different [Mapping](https://github.com/JanusGraph/janusgraph/blob/206c59256fe2eea39044cd26708722c5bb1d1586/janusgraph-core/src/main/java/org/ja

[2017-03-08 14:26] clauds2x commented on #35
+1 for supporting CQL backend

[2017-03-08 14:27] rsteppac commented on #35
+1 for supporting CQL backend

[2017-03-08 16:02] katshup opened #158 "GremlinServer returns HTTP 200 on commit failure"
If I open up a transaction through the GremlinServer and eventually encounter an error when calling 'g.tx().commit', the server response is the following:
`Message(status_code=200, data=[None], message=u'', metadata={})`

Ideally it should be error 500?

[2017-03-08 17:33] sharpau commented on #154
Oh yeah, and the other weird part about this is that failures in index mutations don't fail the graph transaction, so ElasticSearch and the graph DB can silently get out of sync. (True in Titan, not sure if still true in JanusGraph but unless someone has specifically changed it, it probably still is.)

[2017-03-08 17:38] twilmes commented on #155
@mikedias this is a carryover from the Titan repo, not sure if you'd have any interest in testing but I entered a PR #159.

[2017-03-08 20:54] pluradj commented on #35
Related dev mailing list discussion https://groups.google.com/d/msg/janusgraph-dev/MIsf4_pqGBc/hGyYtGyWBAAJ

[2017-03-09 16:43] pluradj commented on #158
Do you have a test case that demonstrates this?

[2017-03-11 09:32] wiwwo opened #161 "[Feature Request] Support openCypher language"
Hi there!
Any plan to have openCypher as a supported language?

[2017-03-13 18:15] pluradj commented on #161
Pull requests are welcome.

[2017-03-14 03:54] mbrukman opened #162 "Clean up Hadoop1 from doc and other places since Hadoop1 support was removed"
Since [Hadoop1 support was removed](https://github.com/JanusGraph/janusgraph/commit/0931a34c70168734be7da369a0c398fdb356693a), we should update the example command lines in [`docs/intro.txt`](
https://github.com/JanusGraph/janusgraph/blob/dc67ce73c08e79fa65b30bc8280861056070c573/docs/intro.txt#L153-L157) accordingly, because it's currently broken.

[2017-03-14 08:27] wiwwo commented on #161
Fair enough! :-)

[2017-03-14 19:51] twilmes opened #163 "Variations of "and" and "or" not transformed to index lookups by JanusGraphStrategy"
In-fixed "and" and "or" predicates do not leverage indexes as aggressively as they should.

For example, with an index on name, the following queries will still result in a full scan:

[code]

Full repro steps:
[code]

[2017-03-15 03:17] jerryjch commented on #162
I will provide a PR.  Will also search for any other mention or occurrence of hadoop1

[2017-03-15 14:58] mbrukman commented on #162
PR to fix this issue was merged.

[2017-03-15 14:58] #162 closed

[2017-03-18 14:00] twilmes commented on #155
Fixed by PR #159.

[2017-03-18 14:00] #155 closed

[2017-03-19 14:29] twilmes commented on #40
Ok, made some progress but still had to deploy the packaged zip manually via `mvn deploy:deploy-file` command line.  I'm continuing to work that so a `mvn deploy` will suffice.

In the meantime though:
* https://oss.sonatype.org/content/repositories/snapshots/org/janusgraph/
* installation zip can be found [here](https://oss.sonatype.org/content/repositories/snapshots/org/janusgraph/janusgraph-dis

[2017-03-21 18:12] #152 closed

[2017-03-21 18:54] MichaelMarkieta opened #167 "Utilizing Geoshape in client applications when connecting to Gremlin Server"
More a question than an issue -- would there be a way to add vertices or edges that have `class Geoshape` properties, or indexes using the `class Geoshape` as the datatype using client software that communicates through `gremlin-server`? Its not clear to me that its possible to, say, write a python script that uses all of what JanusGraph has to offer under the hood because I am not clear if we can

[2017-03-24 22:31] sjudeng opened #171 "BerkeleyDB TinkerPop test errors in v7.3.7"
The update to BerkeleyDB JE 7.3.7 (https://github.com/JanusGraph/janusgraph/pull/101) causes numerous errors in TinkerPop test suites. To reproduce run the test suite with `test.skip.tp=false`.

[code]

Failures are shown below.

[code]

The errors have the following form.

[code]

[2017-03-25 21:49] twilmes opened #172 "CassandraBinaryRecordReader not compatible with Cassandra 3.0+"
JanusGraph comes bundled with Cassandra 2.1.9 and relies on 2.1.9's org.apache.cassandra.hadoop.ColumnFamilyRecordReader to read data data out of Cassandra into TinkerPop GraphComputer implementations such as the SparkGraphComputer.  As of Cassandra 3.0, the schema metadata layout has been changed which causes an incompatibility where Janus's Cassandra dependency is looking for a schema table that

[2017-03-26 02:48] mbrukman commented on #40
@twilmes — thanks for building and deploying the snapshot!

Can you please create a tag at the same Git hash that you built the snapshot from? E.g., `v0.1.0-SNAPSHOT-2017-xx-yy` (with `xx-yy` being the date of the hash)? That would make it possible to create a source release mark on GitHub, and we can attach the binary artifacts on GitHub to host it there for ease of downloading.

Our docs current

[2017-03-26 15:05] sjudeng commented on #171
The root issue here is the TraversalInterruptionTest in the TP [ProcessStandardSuite](https://github.com/apache/tinkerpop/blob/3.2.3/gremlin-test/src/main/java/org/apache/tinkerpop/gremlin/process/ProcessStandardSuite.java#L178). Since interrupts are not supported in Berkeley JE (see [BerkeleyJEStoreManager](https://github.com/JanusGraph/janusgraph/blob/1e221be44ef14558a3503e008843e44c64fdec8d/jan

[2017-03-26 16:04] twilmes commented on #73
@rafatuita good work on this one, can we close it out at this point?

[2017-03-26 16:13] twilmes commented on #40
Good call @mbrukman.  I'll take care of that.  That naming scheme sounds good to me.

[2017-03-26 16:22] sjudeng opened #173 "Support Apache TinkerPop 3.2.4"

[2017-03-26 16:23] sjudeng commented on #41
Closing this since we've updated to 3.2.3 but also created a new issue #173 for updating to TP 3.2.4.

[2017-03-26 16:23] #41 closed

[2017-03-27 02:09] twilmes commented on #40
I got things setup and uploaded the zip to https://github.com/JanusGraph/janusgraph/releases/tag/0.1.0-SNAPSHOT-2017-03-18.  The verbiage is pretty minimal at this point but can be easily updated if we so desire.

[2017-03-27 13:50] rafatuita commented on #73
@twilmes sure, you can close it by now.

[2017-03-27 17:10] jerryjch commented on #113
Closing this Issue since the PRs have been merged.

[2017-03-27 17:10] jerryjch commented on #103
Closing this Issue since the PR has been merged.

[2017-03-30 05:44] ert5yrtjyfgdrfrt opened #174 "Janus as an RDF store"
There seems to be a significant difference in the implementation of "graph/property stores" and "RDF stores". Is Janus a "graph/property store" or an "RDF store"? Or can it work with both models? For example, can I load RDF dumps such as DBPedia and Wikidata, and submit SPARQL queries to it?

[2017-03-30 14:29] dont-mind-the-gap opened #175 "Documentation mentions nested transactions, but unsupported exceptions thrown"
http://docs.janusgraph.org/0.1.0-SNAPSHOT/tx.html#multi-thread-tx

When trying to use nested transactions, I get an "unsupported feature" exception. Do we need to remove this doc section, implement that support, or is there a configuration option I am missing to enable that feature (if so, it would be great to have that documented in that section).

[2017-03-30 21:27] pluradj commented on #171
The TinkerPop way to do it is to add a `@Graph.OptOut` annotation into [`JanusGraph.java`](https://github.com/JanusGraph/janusgraph/blob/jg01/janusgraph-core/src/main/java/org/janusgraph/core/JanusGraph.java#L42). Side effect for JanusGraph though is that the `TraversalInterruptionTest` would not be run against any of the other storage backends either.

I think you're suggesting to change `Berkele

[2017-03-30 23:48] sjudeng commented on #171
I didn't want to go with `@OptOut` for exactly the reason you point out. It is too bad we're not able to opt out at the backend level in JanusGraph.

I can revisit possibly extending `ProcessStandardSuite`. When I initially looked at this it didn't seem ideal because it would likely require copying the full test list (which would be a maintenance issue) and/or using reflection to get at the underl

[2017-03-31 13:43] pluradj commented on #174
The issues tracker is for bug tracking. Please use the [mailing list](https://groups.google.com/d/msg/janusgraph-users/I4rW_KhcgFE/DpjNd8ECCwAJ) for general questions and answers like this one. Thanks!

[2017-03-31 13:43] #174 closed

[2017-03-31 14:32] pluradj commented on #175
The examples in [Chapter 9.6 Nested Transactions](http://docs.janusgraph.org/0.1.0-SNAPSHOT/tx.html#_nested_transactions) and in the [TinkerPop docs](http://tinkerpop.apache.org/docs/3.2.3/reference/#_threaded_transactions) appear to work fine.

I'm guessing you are doing something like this:

[code]

The example in [Chapter 9.4 Multi-Threaded Transactions](http://docs.janusgraph.org/0.1.0-SNAPSHO

[2017-03-31 16:24] dont-mind-the-gap commented on #175
I need to double check with my company's legal department before I do a pull request. We have a pretty liberal open source policy, but don't want to be wrong :) I'll update again once I verify that I can sign the CLA

[2017-03-31 16:52] mbrukman commented on #175
@dont-mind-the-gap -- please ask your open source legal folks to sign the CCLA (vs. signing the ICLA yourself).

The uncanny resemblance of JanusGraph CLA to the Apache Software Foundation CLA is fully intentional and hopefully makes the review/signature process easier. :-)

[2017-03-31 17:08] dont-mind-the-gap commented on #175
Sent a request to sign the CCLA. Not sure how long it will take, but once its signed I'll create a PR.

[2017-03-31 19:00] twilmes commented on #73
Thanks @rafatuita. Closing as fixed by #80.

[2017-03-31 19:00] #73 closed

[2017-03-31 19:30] #103 closed

[2017-03-31 19:34] #113 closed

[2017-04-01 02:50] sjudeng commented on #171
PR #179 has been submitted to resolve this issue by using the custom `ProcessStandardSuite` as described above.

I did also look at resolving these test issues instead of skipping them. When running `TraversalInterruptionTest` in isolation all errors can be resolved by updating BerkeleyJEKeyValueStore to handle interrupts. But I was unable to consistently resolve errors observed when running the t

[2017-04-01 02:58] sjudeng opened #180 "Bump project version to 0.2.0-SNAPSHOT"
Now that the `jg01` branch has been created to support 0.1.x releases the project version on `master` should be bumped to 0.2.0-SNAPSHOT.

[2017-04-01 18:57] sjudeng opened #182 "Travis CI should run on release branch"
Travis CI is currently running using a branch safelist, which includes `master` and `coverity_scan` but not the `jg01` release branch.

[2017-04-02 00:58] sjudeng opened #184 "Documentation updates to support 0.1.0 release"
Documentation should be updated as described in [RELEASING.md](https://github.com/JanusGraph/janusgraph/blob/master/RELEASING.md#preparing-documentation) in preparation for the 0.1.0 release.

[2017-04-02 04:00] mbrukman commented on #182
I'm all for it, but can we please rename the `jg01` branch first? See [my proposal](https://groups.google.com/d/msg/janusgraph-dev/YLnWWeNi0Ug/CvMKlKxpEgAJ) on the mailing list; would love to get your thoughts on this.

[2017-04-02 04:04] #180 closed

[2017-04-02 06:28] MichaelMarkieta commented on #154
I can confirm the out of sync storage backend and index backend @sharpau. I just ran into that today with a very large transaction that failed during the index mutation. No rollback occurred after the index mutation failed.

[code]

[2017-04-03 14:41] sjudeng commented on #154
I have a unit test that reproduces the issue with updating long text strings and also implementation that resolves the issue by splitting mutations and using an update operation for non-List/Set properties. The update is based on #79, so I was waiting on that to get merged before submitting a new PR. #79 also removes the dynamic scripting requirement on ES 5.x servers.

I'm not sure about the issu

[2017-04-03 15:28] #171 closed

[2017-04-04 02:10] sjudeng commented on #154
I just added this commit to #79. That PR needs another review anyway and the update to split mutations was relatively small.

[2017-04-04 14:22] pluradj commented on #133
I looked around at some other projects: [Apache Ignite](https://github.com/apache/ignite/tree/master/modules/geospatial) uses a Maven profile to handle it, and [Elasticsearch](https://github.com/elastic/elasticsearch/blob/v1.5.2/pom.xml#L179) marks it as optional.

[2017-04-05 01:09] sjudeng opened #187 "Remove docs on locally building TinkerPop 3.2.3 for tests"
After updating to TinkerPop 3.2.4 in #173 the documentation on locally building TinkerPop 3.2.3 for test compile, added to BUILDING.md in #185, can be removed.

[2017-04-05 04:23] darrenleeweber opened #190 "Gremlin console - please include LinkedDataSail"
https://github.com/tinkerpop/gremlin/wiki/LinkedData-Sail

The examples at https://github.com/tinkerpop/gremlin/wiki/LinkedData-Sail#the-mechanics-of-linkeddatasail do not work using the `./bin/gremlin.sh` bundled with JanusGraph.  Please add the appropriate JAR dependencies for this.

In general, the use case is to have JanusGraph serve as the persistence layer and/or storage cache for linked ope

[2017-04-05 04:26] darrenleeweber opened #191 "Documentation - Include Guidelines on Using Sail to load RDF data files"
How are RDF data files loaded into JanusGraph?  Is there any way to stand-up a SPARQL endpoint on a JanusGraph stack?  Please see related discussion referencing Sail at
- https://groups.google.com/forum/#!topic/gremlin-users/nIE6uaSck8g

[2017-04-05 14:45] darrenleeweber commented on #190
The sail functionality should be available, it was added to the console in
https://github.com/tinkerpop/gremlin/commit/d4410d81869069536014f0ced6b52d783bed2073

[2017-04-05 15:14] twilmes commented on #190
Hi Darren.  The sail functionality that you're referencing was compatible with TinkerPop version 2.  JanusGraph is currently on Apache TinkerPop 3 (3.2.3 specifically).  TinkerPop moved to the ASF awhile ago and up to date docs & code can be found at [here](http://tinkerpop.apache.org/).  Having said that, there may be some work underway to upgrade the sail implementation according to this [thread

[2017-04-05 16:30] mbrukman commented on #40
Per discussion on the mailing list, I created a tag [`v0.1.0-rc1`](https://github.com/JanusGraph/janusgraph/releases/tag/v0.1.0-rc1) and removed the earlier tag `0.1.0-SNAPSHOT-2017-03-18` from the repo and releases.

I've also created a release and re-uploaded the `janusgraph-dist-[...].zip` file (renamed to `janusgraph-dist-0.1.0-rc1.zip`) from the previous release so it's a complete replacement

[2017-04-05 16:30] #40 closed

[2017-04-05 16:32] mbrukman commented on #40
I've also [followed-up on Twitter](https://twitter.com/MishaBrukman/status/849660647310798848) in case anyone else is watching—I see @funkatron is already on this thread from Twitter so he is aware.

[2017-04-06 00:50] sharpau commented on #154
Thanks a ton @sjudeng , really happy to see progress made here.

I'll leave the creation of the issue for lack of rollback to @MichaelMarkieta since I don't have a current example or test reproduction. I just noticed when looking through (Titan's) ElasticSearchIndex.java that failure is just an exception with no cleanup, beyond that (and frustration at how the DB stays broken) I don't have a lot t

[2017-04-06 04:47] darrenleeweber commented on #190
I need to follow up on those links ^^, but thought it might help to link over to a related attempt to get it working in https://github.com/joshsh/ripple/issues/64

[2017-04-06 12:53] twilmes commented on #190
I'm going to close this one out and this can be reevaluated when a TinkerPop 3 compatible version of the sail implementation is available.

[2017-04-06 12:53] #190 closed

[2017-04-06 12:54] twilmes commented on #191
Per the discussion in #190, there is not a TinkerPop 3 compatible Sail implementation.

[2017-04-06 19:19] dpitera opened #195 "DEFECT: Indexes getting stuck in INSTALLed state"
Currently, indexes are getting stuck in the INSTALLed state. After much investigation, the issue is that we are [evicting indexUpdateTriggers](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/database/management/ManagementSystem.java#L874) from the Set tracking them, thus we are not completing all index update jobs. The fix is to update this

[2017-04-06 19:21] dpitera opened #196 "DEFECT: Mixed indexes get stuck in REGISTERED state"
If a user wants to update an index by adding a propertyKey to it, then
the existing propertyKeys will have status ENABLED, but the
IndexStatusWatcher will be looking for REGISTERED only, so the index update
is never completed.

We can fix this by allowing users to `awaitGraphIndexStatus(..).status()` on mutliple statuses.

[2017-04-06 20:42] mbrukman commented on #102
Fixed by PR #176.

[2017-04-06 20:42] #102 closed

[2017-04-06 21:26] darrenleeweber commented on #191
Could the documentation include a short note that RDF/Sail is not supported?  That would, at least, resolve the question for anyone trying to find this information in the documentation.

[2017-04-07 04:50] mbrukman commented on #191
Good point, @darrenleeweber. Please feel free to submit a PR if you're up for it, but note that this project requires a CLA to be submitted first..

[2017-04-07 13:39] sjudeng opened #197 "Add note on release branch merging to dev process docs"
Update development process documentation [docs/development.txt](https://github.com/JanusGraph/janusgraph/blob/master/docs/development.adoc) with note on the PR process (if applicable) for merging release branches into master (or other release branches).

In particular, should these merges be handled only by a repo admin who can bypass the PR process or, if committers can request/perform these merg

[2017-04-07 16:09] sjudeng opened #198 "Protect 0.1 release branch"
The 0.1 release branch should be protected. @mbrukman I'm not sure if this is automatic or already done.

[2017-04-07 17:04] mbrukman commented on #198
Done. This is not automatic, it needs to be done manually for every branch.

[2017-04-07 17:04] #198 closed

[2017-04-07 17:48] MichaelMarkieta opened #199 "Setting storage.cassandra.frame-size-mb >= 2048 generates a negative max length frame size"
Smaller values approaching, but less than, 2048 mb work:
[code]

but from 2048 upwards you will generate errors when connecting to Cassandra:

[code]

generates this key error:

[code]

Full stack:

[code]

[2017-04-07 17:54] MichaelMarkieta commented on #199
Increasing the value of `storage.cassandra.frame-size-mb` until you reach `4096` will move the negative max length value in the error towards `0`.

At exactly

[code]

the error is:

[code]

but it is successful at `4097` and beyond

[code]

[2017-04-07 18:08] mbrukman commented on #199
Thanks for the bug report, @MichaelMarkieta!

Have you had a chance to reproduce this with either Titan 1.0 and/or Titan 1.1 branch (unreleased)? If not, would you mind running a quick test to see how they behave?

I'm curious if this is a long-standing issue in Titan or if this is something that is a regression in JanusGraph.

[2017-04-07 18:37] pluradj commented on #199
Long standing: see AbstractCassandraStoreManager.java in [JanusGraph](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-cassandra/src/main/java/org/janusgraph/diskstorage/cassandra/AbstractCassandraStoreManager.java#L177) vs [Titan](https://github.com/thinkaurelius/titan/blob/titan11/titan-cassandra/src/main/java/com/thinkaurelius/titan/diskstorage/cassandra/AbstractCassandraStoreMan

[2017-04-07 18:43] pluradj commented on #199
Looks like Thrift [max frame length](https://github.com/apache/thrift/blob/master/lib/java/src/org/apache/thrift/transport/TFramedTransport.java#L32) is stored as an `int` also, so the max value for that property is `2047`.

[2017-04-07 22:46] sjudeng opened #203 "Update NOTICE.txt"
The [NOTICE.txt](https://github.com/JanusGraph/janusgraph/blob/master/NOTICE.txt) file should be updated with correct company, copyright and acknowledgement information. See comments [here](https://github.com/JanusGraph/janusgraph/pull/185#discussion_r110495500).

[2017-04-08 00:14] MichaelMarkieta commented on #153
I guess the only way around this is to modify the mapping after the index is created for now.

ES allows date formats to be modified on existing indexes. For example:

[code]

[2017-04-08 00:14] #153 closed

[2017-04-08 00:15] MichaelMarkieta commented on #199
@mbrukman I am not familiar enough with the internals to debug this any further. Wish I could help -- just reporting what I've found during experimentation. cc @pluradj

[2017-04-08 00:38] mbrukman commented on #199
Would it make sense to document the max value of 2047 for this config parameter to help future users?

[2017-04-08 01:17] mbrukman commented on #184
Note: https://github.com/JanusGraph/janusgraph/issues/203 should be addressed prior to closing this issue.

[2017-04-08 02:15] #182 closed

[2017-04-08 21:26] mbrukman commented on #203
Closing as fixed.

[2017-04-08 21:26] #203 closed

[2017-04-08 21:27] mbrukman commented on #184
@sjudeng — does anything else need to be done prior to closing this issue? Looks like all PRs and issues referenced here have been merged & closed, respectively.

[2017-04-08 21:34] mbrukman opened #205 "Add pointers for accessing JanusGraph via other libraries"
We've received a number of questions for how to access JanusGraph from different programming languages, or native libraries with bindings to access JanusGraph other than Java.

We should either collect a set of well-tested libraries that work with JanusGraph either via TinkerPop or Gremlin, or link to existing lists such as:

* https://github.com/mohataher/awesome-tinkerpop#wrappers
* http://tinke

[2017-04-08 22:56] sjudeng commented on #184
@mbrukman The only thing left that I'm aware of is updating [CHANGELOG.asc](https://github.com/JanusGraph/janusgraph/blob/325d6da8895ef329390df3a11f5e490f99160cba/CHANGELOG.asc) and [changelog.txt](https://github.com/JanusGraph/janusgraph/blob/325d6da8895ef329390df3a11f5e490f99160cba/docs/changelog.txt) to replace "TBD" with the actual 0.1.0 release date, which we don't know exactly yet. Not sure

[2017-04-08 23:39] mbrukman commented on #184
I don't think we should track in this bug; that should just be a step in the release instructions. I'm assuming we can release v0.1.0 as soon as all the issues on the milestone are closed, so I think we should close this issue and release as soon as the other issue is resolved. Thoughts?

[2017-04-08 23:56] sjudeng commented on #184
Yep agreed.

[2017-04-08 23:56] #184 closed

[2017-04-09 14:53] FlorianHockmann commented on #205
I agree that it would be a good idea to include this information in the documentation. It's a very important decision point for most people that evaluate different databases how good the support in their programming language is. Unfortunately, some people will probably not directly grasp completely how JanusGraph and TinkerPop are related and that they can check the TinkerPop website for such info

[2017-04-09 15:06] ivancikic opened #206 "Unique index with partitioned vertex label constraint not respected across transactions"
Steps to reproduce issue:

[code]
Issue is present only when using partitioned vertex label constraint:
 vl=m.makeVertexLabel('system').**partition()**.make()

Version:  JanusGraph 0.2.0-SNAPSHOT on HBase 1.2.4

Further details: https://groups.google.com/forum/#!topic/janusgraph-users/KlJcsNdtZxE

[2017-04-10 14:09] twilmes commented on #133
Resolved by #189.

[2017-04-10 14:09] #133 closed

[2017-04-11 16:00] cachance7 commented on #150
@DamienLF Did you ever resolve this? I encounter the exact same thing each time I have tried to build over the past week.

[2017-04-11 21:02] twilmes opened #211 "Cleanup header format in CHANGELOG.asc & docs/changelog.txt"
Update `CHANGELOG.asc` & `docs/changelog.txt` headers to new  format.

[2017-04-12 16:08] zifnab87 opened #212 "Spring Data integration"
I think it makes sense for this project to be integrated with Spring Data like Neo4j.. It needs to be done right. There was a project that integrated Titan with Spring Data for TP2 through Core,JPA and Neo4j annotations. I am trying to finish the migration to TP3 in that forked project (https://github.com/zifnab87/spring-data-gremlin/tree/TP3-before-merge) (some tests are failing for Tinkergraph s

[2017-04-12 16:44] sjudeng opened #213 "Documentation is missing link to API docs"
The [javadoc page](http://docs.janusgraph.org/0.1.0-SNAPSHOT/javadoc.html) should include a link to the API documentation (see corresponding [Titan page](http://s3.thinkaurelius.com/docs/titan/1.0.0/javadoc.html)).

[2017-04-12 16:52] sjudeng opened #214 "Milestone link in changelog should show closed issues"
Currently [the link](https://github.com/JanusGraph/janusgraph/blob/0.1/docs/changelog.txt#L41) is to https://github.com/JanusGraph/janusgraph/milestone/1. Should this instead be changed to https://github.com/JanusGraph/janusgraph/milestone/1?closed=1 so it shows all completed items in release?

[2017-04-12 17:04] ptgoetz commented on #214
+1 Not too big a deal, but I noticed the same thing.

[2017-04-13 01:04] zifnab87 commented on #212
I already converted Titan code to become JanusGraph in this branch https://github.com/zifnab87/spring-data-gremlin/tree/janusgraph-integration (~ 40 tests are not passing - due to TP2 to TP3 migration not completed yet)

[2017-04-13 14:21] xiangqiao123 opened #215 "can not download release package in china"
hi ,
    in china, i can not download  the release package .
    can anyone give other source?

release package url is :
https://github.com/JanusGraph/janusgraph/releases/download/v0.1.0-rc2/janusgraph-0.1.0-hadoop2.zip

[2017-04-13 15:42] pluradj commented on #215
The link is a redirect.

[code]

Can you try a `curl -LO https://github.com/JanusGraph/janusgraph/releases/download/v0.1.0-rc2/janusgraph-0.1.0-hadoop2.zip`?

[2017-04-13 15:47] pluradj opened #216 "documentation packaging"
The documentation should be packaged as a convenience distribution. This could be done by including it with the binary distribution (similar to the javadoc). Alternatively, this could be a separate documentation distribution (perhaps include javadoc here, instead of with the binary). If it is a separate docs distribution, it should contain the LICENSE and NOTICE.

[2017-04-13 18:04] sharpau commented on #35
I'll add here another request due to a frustration with Titan: Titan 1.0's Cassandra thrift implementation has frame size issues not only with edges, but also with indices. So when a composite index (i.e. Titan-only, no external indexing backend) gets too large, exceptions like `org.apache.thrift.transport.TTransportException: Frame size (171114550) larger than max length (104857600)!` become very

[2017-04-14 02:03] xiangqiao123 commented on #215
github-cloud.s3.amazonaws.com
the reason is this domain can not be resolved in china.

[2017-04-14 02:17] xiangqiao123 commented on #215
hi pluradj , Thank you for your replay.
i have purchased  a proxy ip to resolve this question.

[2017-04-14 02:17] #215 closed

[2017-04-14 14:59] twilmes commented on #212
Glad to hear you're working on this @zifnab87! I think this will definitely be well received. I took a quick look and had a few questions.  If I'm reading things correctly, the Janus portion will require someone to be running Janus embedded in their Spring app.  I was wondering if you'd seen the Apache TinkerPop [remote graph functionality](http://tinkerpop.apache.org/docs/current/reference/#conne

[2017-04-14 16:07] zifnab87 commented on #212
@twilmes Thanks for the insights! I will have those in mind.. I have a lot of questions to the original author although I haven't gotten any response.. At this point I am still trying to make the inmemory versions of the databases pass the tests because even then there are issues. I wonder if I could have someone from the janusgraph community to help a bit?

[2017-04-14 22:11] sjudeng commented on #154
Closing after merge of #79 which resolves this issue. Please reopen if you still have this problem.

[2017-04-14 22:11] #154 closed

[2017-04-14 22:12] sjudeng commented on #67
Closing after merge of #79 which adds support for ES 2.x and 5.x.

[2017-04-14 22:12] #67 closed

[2017-04-15 00:57] mbrukman commented on #60
PR #112 was merged, which fixes this issue.

[2017-04-15 00:57] #60 closed

[2017-04-17 04:57] mbrukman commented on #211
Thanks for the fix, @sjudeng!

[2017-04-17 04:57] #211 closed

[2017-04-17 21:41] sjudeng commented on #92
With merge of #79 JanusGraph now supports the low-level ES REST HTTP client. But keeping this issue open to track work on migrating to higher level HTTP client for ES (e.g. Jest or maybe eventually ES 6.x REST).

[2017-04-18 19:14] pluradj opened #220 "storage.hbase.short-cf-names is not fixed"
Following up on this [discussion thread](https://groups.google.com/d/msg/janusgraph-users/crPTyWRWzZU/fyMTgLnxCAAJ), the HBase [configuration docs](http://docs.janusgraph.org/0.1.0-SNAPSHOT/config-ref.html#_storage_hbase) state that `storage.hbase.short-cf-names` is `FIXED`, meaning that the configuration option cannot be changed for the entire life of the database. The observed behavior sounds mo

[2017-04-19 08:32] davidclement90 opened #221 "Add fuzzy predicate on all mixed indexes backend"
This adds fuzzy predicate (similarity based on Levenshtein edit distance) for all mixed indexes backend.
For the method evaluateRaw of the predicate, I use the same degree of similarity as ES :

0 for strings of one or two characters
1 for strings of three, four or five characters
2 for strings of more than five characters

[2017-04-19 11:55] davidclement90 opened #222 "Allow to use custom analyser with ES"
This feature allows to use custom analyser ES for String type instead of no analyser for mapping.STRING or default ES analyser (split on non-alphanumeric tokens then lowercase) for Mapping.TEXT.
Custom analyser allows to use specific indexing for special property.
For example, it could be good to use phonetic analyser to match more on a _last name_ property.

This feature will impact all String Pr

[2017-04-19 12:43] DamienLF commented on #150
@cachance7 Yes, just try again later in the day. You may have to try multiple times before it works...
Also, you can download the jar directly (https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-failsafe-plugin/2.15/) and try to build with this jar (I didn't try this solution)

[2017-04-19 17:00] jerryjch commented on #220
This does not seem to be an issue.
'storage.hbase.short-cf-names' is FIXED and can not be changed once the graph is there.  The default is 'true'.
In the mentioned discussion thread, the user set it as non-default 'false'. Then the user needs to set it to 'false' when using the graph everywhere. Otherwise the default 'true' kicks in, which causes not being able to access the graph.

[2017-04-19 20:21] mbrukman opened #224 "Docs on migration from Titan to JanusGraph"
Given the interest in migrating from Titan to JanusGraph, users need a clear documentation and guidance for how to migrate their databases and switch from Titan to JanusGraph, with as little work as possible, ideally without data migration.

Here's a [sample user question](https://groups.google.com/d/msg/janusgraph-users/BhNVNHvJD90/MxXDYbAcCQAJ) from the janusgraph-users@ mailing list which demon

[2017-04-19 23:12] sharpau commented on #222
I currently have (for Titan) a piece of code that uses ES' REST API directly to set a custom analyzer on a Titan index. It would be great to replace this workaround with some JanusGraph configuration to make it less brittle. However, considering it is a viable workaround, I think other features are higher priority.

[2017-04-20 01:14] pluradj commented on #220
I believe the original configuration is stored within the table. I'd expect a warning issued if the user attempted to connect with an override on a fixed property, then the graph would still open using the original configuration value.

[2017-04-20 01:21] pluradj commented on #220
We need to dig into the code some more, but if the behavior really is and should be that the user must override the fixed property every time, the configuration reference documentation for `FIXED` can be made more clear on the behavior and expected usage.

[2017-04-20 22:06] mbrukman commented on #107
Thanks to @robertdale for committing a [change to TinkerPop](https://github.com/apache/tinkerpop/commit/feae45da67df7140f9d0aec7eddd032e50814961) ([posted on TinkerPop dev list](https://lists.apache.org/thread.html/c5dbd4e84869fe689e41bc3f4e728356d7bfc5d01bd5a57b422efe6a@%3Cdev.tinkerpop.apache.org%3E)) to add JanusGraph to the list; waiting for push to http://tinkerpop.apache.org/ for it to be vi

[2017-04-21 13:07] twilmes opened #225 "Improve meta-property documentation"
Section 26.3 of the docs discusses meta-properties but not by name. I think this may be confusing for folks jumping between this and the TinkerPop docs. Perhaps we could update the docs to specifically reference meta-properties and extend the example.

[2017-04-21 16:35] pluradj commented on #225
Agreed, as easy as it may be to refer back to the TinkerPop docs, I think the JanusGraph docs need to be able to stand alone in as many places as possible. This is especially important as the most recent TinkerPop version could potentially get way ahead of what JanusGraph bundles.

[2017-04-21 16:39] pluradj commented on #224
[Attribute serialization](http://docs.janusgraph.org/0.1.0/serializer.html) would need a code migration (package name update) since you're required to implement the [`AttributeSerializer`](https://github.com/JanusGraph/janusgraph/blob/0.1/janusgraph-core/src/main/java/org/janusgraph/core/attribute/AttributeSerializer.java) interface.

[2017-04-22 14:30] twilmes opened #226 "Update release process docs"
Update the release docs with steps/lessons learned from 0.1.0 release.

[2017-04-23 03:56] jerryjch commented on #220
Looking into it more. Here is what happens.

The short-cf-names flag is checked when HBaseStoreManager tries to open a store. For example, system_properties or edgestore.  And it determines which column family to go to.  For example, either 'system_properties' or 's'.  It the user has used short-cf-names=false.  The column family 'system_properties' has been created in the table and populated. The

[2017-04-23 22:00] robertdale commented on #151
`janusgraph.sh` also supports a `clean` option which deletes the aforementioned directories and some log files but it assumes that they are in default locations.

[2017-04-24 22:27] sharpau opened #228 "ID_STORE_NAME table renamed from Titan"
In migrating from Titan, I found (by way of Cassandra table metrics reporting) that the `titan_ids` table has changed to `janusgraph_ids`. I think if this table were used it would be a breaking change.

However, it appears to me that this table isn't actually used much if at all? It's defined under the constant ID_STORE_NAME, which seems unused here:
https://github.com/JanusGraph/janusgraph/search

[2017-04-24 23:12] jerryjch commented on #228
It is here:

https://github.com/JanusGraph/janusgraph/blob/236dd930a7af35061e393ea8bb1ee6eb65f924b2/janusgraph-core/src/main/java/org/janusgraph/diskstorage/Backend.java#L232

[2017-04-24 23:15] jerryjch commented on #228
For HBase backend, it is probably not a big deal because the shortname alias 'i' is normally used as the real cf name in production.

[2017-04-24 23:16] sharpau commented on #228
@jerryjch I saw that. So it really surprises me that JanusGraph works on an existing Titan 1.0 DB. Maybe the specifying the Cassandra keyspace overrides that `name` parameter?

[2017-04-25 00:45] amcp commented on #228
I think we need to make ID_STORE_NAME configurable in light of  migration from Titan.

On Apr 25, 2017, at 7:16 AM, Austin Sharp <notifications@github.com<mailto:notifications@github.com>> wrote:

@jerryjch<https://github.com/jerryjch> I saw that. So it really surprises me that JanusGraph works on an existing Titan 1.0 DB. Maybe the specifying the Cassandra keyspace overrides that name parameter?

[2017-04-25 10:31] amcp opened #229 "Fix asciidoctor warnings"
asciidoctor: WARNING: basics.txt: line 742: section title out of sequence: expected level 2, got level 3
asciidoctor: WARNING: textsearch.txt: line 108: section title out of sequence: expected level 2, got level 3
asciidoctor: WARNING: textsearch.txt: line 121: section title out of sequence: expected level 2, got level 3

[2017-04-25 15:31] #229 closed

[2017-04-25 18:33] robertdale commented on #107
Changes are live now.

[2017-04-25 19:08] amcp opened #231 "Fix errors in docbook to html conversion"
`mvn install -DskipTests=true`
[INFO] --- xml-maven-plugin:1.0:transform (docbook-to-htmlsingle) @ janusgraph-dist ---
[INFO] Transforming file: /Users/amcp/git/janusgraph/janusgraph-dist/target/docs/docbook/index.xml
ERROR: xref linking to es-cfg-common-opts has no generated link text.
Error: no ID for constraint linkend: es-cfg-common-opts.

[2017-04-25 19:09] amcp commented on #231
also
[INFO] --- xml-maven-plugin:1.0:transform (docbook-to-htmlchunk) @ janusgraph-doc ---
[INFO] Transforming file: /Users/amcp/git/janusgraph/janusgraph-doc/target/docs/docbook/index.xml
...
Writing /Users/amcp/git/janusgraph/janusgraph-doc/target/docs/chunk/direct-index-query.html for chapter(direct-index-query)
ERROR: xref linking to es-cfg-common-opts has no generated link text.
Error: no ID

[2017-04-25 20:11] mbrukman commented on #107
Thank you, @robertdale!

[2017-04-25 20:11] #107 closed

[2017-04-25 20:14] robertdale commented on #167
You can definitely do it through submitting groovy scripts.  To use the native GLV, you'll need serializers on both ends which I don't think are there for most things.

[2017-04-25 21:17] pluradj commented on #224
- [ ] From the [mailing list](https://groups.google.com/d/msg/janusgraph-users/JtJ0JONIyck/vaB8DYDaAAAJ), `index.search.index-name` requires a GLOBAL_OFFLINE change via the management system.

[2017-04-25 21:19] pluradj opened #232 "Separate out storage format version from JanusGraph version"
JanusGraph getting a bit hosed right now with versioning even though the [storage format](http://docs.janusgraph.org/latest/data-model.html) isn't changing. JanusGraph uses the release version for the storage format version. This makes it pretty cumbersome to test different versions without hacking the root `pom.xml` to update the `janusgraph.compatible-versions` or `titan.compatible-versions`. Fo

[2017-04-26 08:15] FlorianHockmann commented on #228
Am I missing something or is this a complete blocker for users that want to migrate from Titan?

[2017-04-26 11:44] davidclement90 commented on #222
I do the same but with the https://github.com/JanusGraph/janusgraph/pull/233 thus JanusGraph will check if the mapping is good instead of push it.

[2017-04-26 19:19] sharpau commented on #228
@FlorianHockmann , I might be missing it too. But I have upgraded from Titan 1.0 to JanusGraph 0.1 without any major issues that would seem to be related. And anecdotally people on the JanusGraph-users mailing list, and tests on PRs such as the one that added the backwards compatibility to version checking, haven't seen problems. So it's either a fairly subtle problem or ID_STORE_NAME isn't used f

[2017-04-26 23:52] prismofeverything opened #234 "Getting a strange and intermittent "org.apache.thrift.TApplicationException: multiget_slice failed: out of sequence response" error"
Hi all,

I am using Janusgraph version 0.2.0-SNAPSHOT with the cassandra backend (commit 67ba31e27ec173c30e14d1cff56cad27e0c719f9 from April 17th).

Seemingly at random I am getting strange errors about an "out of sequence response". I tried googling it and just found this inconclusive thread from 2013 about a similar error: https://groups.google.com/forum/#!topic/aureliusgraphs/uPNC90iH7Z4

Not s

[2017-04-27 01:29] jerryjch opened #235 "janusgraph-dist build stuck at generate-compat-test-files for ES"
This is happening on master branch:

mvn clean install -Pjanusgraph-release -Dgpg.skip=true -DskipTests=true

[code]

[2017-04-27 17:12] amcp commented on #228
@FlorianHockmann @sharpau @jerryjch TITAN_IDS is used to store [id reservations assigned to Gremlin Server hosts](https://github.com/BillBaird/delftswa-aurelius-titan/blob/master/SA-doc/Mapping.md). If you are heavy on writes and your id block size is small, you will experience heavy writes on TITAN_IDS table. It is not a catastrophe to lose the TITAN_IDS table for reads, but you might experience

[2017-04-27 17:17] amcp commented on #228
I volunteer to pull the KCVStore name into configuration.

[2017-04-27 18:55] sharpau commented on #228
@amcp Thanks for the explanation. Inability to change table names isn't just DynamoDB - Cassandra is the same way, so a config option seems like the way to go.

Does this make sense to put in an 0.1.1 release, as the 0.1 branch is intended for a smooth upgrade from Titan?

[2017-04-27 21:41] sjudeng opened #238 "Docs should indicate non-root user required for release build and janusgraph.sh"
Because [Elasticsearch cannot run as root](https://github.com/elastic/elasticsearch/pull/18694) build steps that involve starting an ES instance (e.g. `mvn verify -pl janusgraph-es` and `mvn clean install -Pjanusgraph-release -Dgpg.skip=true -DskipTests=true -pl :janusgraph-dist-hadoop-2`) cannot be run as root.

[2017-04-27 21:43] sjudeng commented on #235
I created #238 for updating documentation regarding building as non-root user.

[2017-04-27 21:49] robertdale opened #239 "JanusGraph search predicates and data types should be supported in remote traversals"
Console:
[code]

JanusGraph Server side:
[code]

[2017-04-28 00:07] amcp commented on #228
@sharpau We will need a new version number.  I don't know what version that will be though.
@mbrukman thoughts?

[2017-04-28 01:05] jerryjch commented on #238
Is there a way we can get around the ES restriction when we do janus-graph build?
Can we avoid putting a restriction on janus-graph build because of this?
@sjudeng Thanks for looking into it

[2017-04-28 08:00] FlorianHockmann commented on #228
Thanks for the explanation @amcp
I think a hotfix would be a good idea for this change to avoid problems with the migration from Titan which is probably where most users are coming from at the moment.

[2017-04-28 10:35] amcp commented on #228
Fix in progress in #240

[2017-04-28 10:37] amcp commented on #228
TODO:
- [ ] Add upgrade-downgrade tests
- [ ] Add documentation for the new configuration option
- [ ] Update the point version of 0.1 release
- [ ] Propose a vote on the point release
- [ ] Release the fix to maven central

[2017-04-28 14:55] sjudeng commented on #238
FYI for the same reason as above janusgraph.sh also cannot be run as root.

@jerryjch I don't think there's anyway around this for ES 5.x based on the link above. In ES 2.x there might be an escape hatch property that could be used to force it to run as root. But I think they had good cause for restricting ES to run as a non-root user and we should consider accepting this security control when run

[2017-04-28 15:16] amcp commented on #228
Regarding documenting the configuration option, apparently the build generates the configuration tables from the java files, so I do not need to do anything special.

[2017-04-28 15:20] amcp opened #241 "Two artifacts at 0.1.0 in maven repository for each module"
https://mvnrepository.com/artifact/org.janusgraph/janusgraph-berkeleyje
https://mvnrepository.com/artifact/org.janusgraph/janusgraph-core
etc

each list 0.1.0 twice

[2017-04-28 16:06] amcp commented on #228
The version on 0.1 branch already appears to be 0.1.1 so it is complete. Also, upgrade testing is difficult to code in Java because of competing versions of many dependencies of Titan and JanusGraph. Also, it is not clear if downgrading from JanusGraph is a possibility for any backend other than DynamoDB (as it has a HTTP API and has never made breaking changes to the v2 API).
The current version

[2017-04-28 16:19] amcp opened #242 "Add eclipse / IDEA formatters to repo and apply them."
I think it is a good idea to derive/craft IDEA / Eclipse formatters and add them to source control here so everyone can use them.

[2017-04-28 16:27] amcp opened #243 "Reduce Cassandra TP test time"

[2017-04-28 17:23] sharpau commented on #228
@amcp as far as I am aware the Cassandra backend has not changed from Titan 1.0 to JanusGraph 0.1. We're using Cassandra 2.0.11 and the Cassandra driver 3.1.1. Haven't had to change anything aside from our janusgraph-core and janusgraph-cassandra dependencies, the various imports, and the `storage.cassandra.keyspace` configuration.

In general for the upgrade, the only issues I've observed are pot

[2017-04-28 17:48] robertdale commented on #238
There is no good reason to run as root anyway.

[2017-04-28 21:32] jerryjch commented on #238
There is no problem requiring non-root in the case where ES is used as the backend. There is some argument on the ES ticket, but we can only comply nevertheless.
Generally limiting the build process because of an ES restriction sounds like an issue. People may have different build tools or env. Jenkins, Docker that they may have to specially adapt in order to build JanusGraph then.

[2017-04-28 22:06] #173 closed

[2017-04-28 23:18] kedarmhaswade commented on #172
@twilmes Do you know of a workaround, or is it basically that OLAP queries are broken with JanusGraph and Cassandra 3.x?

[2017-04-29 19:13] sjudeng opened #245 "Gremlin server ssl property error"
Gremlin server fails to start with an error `Cannot create property=ssl `.

[code]

[2017-04-30 17:01] sjudeng commented on #238
@jerryjch Maybe it would be possible to get around this at least for the case of the janusgraph-dist-hadoop-2 release build. The instance is started as part of the `generate-compat-test-files` step in building janusgraph-dist-hadoop-2. It's only run during release (`-Pjanusgraph-release`) builds. I'm not sure what its purpose is. Maybe it would be possible to skip/rework it to avoid starting the i

[2017-05-01 05:28] jerryjch commented on #238
Agree. I am not very knowledgeable on what it tries to do here either. (Does not seem to be needed in the zip file?)
The ideal case would be:
1)  The release build can proceed without this blocker.
2)  The janusgraph.sh can be exercised in the test phase and the ES tests can fail with meaningful errors when running as root.

@sjudeng thanks for looking into this again.  Up to you.

[2017-05-01 10:42] amcp opened #249 "make graph of gods walkthrough consistent with gremlin shell output"
[Quoted outputs in the walkthrough](http://docs.janusgraph.org/0.1.0/getting-started.html#_global_graph_indices) do not match, despite the fact that we expect vertex ids to vary. Some square braces should be curly braces, etc.

[code]

[2017-05-01 14:06] twilmes commented on #172
@kedarmhaswade I do not know of a workaround on this one.

[2017-05-01 14:45] twilmes commented on #241
Created an [issue](https://issues.sonatype.org/browse/MVNCENTRAL-2216) to see what's up with this.

[2017-05-01 22:55] sjudeng commented on #238
@jerryjch Makes sense to me. I'll take a look at what if any options there are regarding skipping/handling this for the release build.

[2017-05-02 02:48] kedarmhaswade commented on #172
Thanks @twilmes. We're thinking of reimplementing some of the interfaces of the Hadoop MapReduce client in JG (e.g. instead of wrapping the `org.apache.cassandra.hadoop.ColumnFamilyRecordReader`, wrap `org.apache.cassandra.hadoop.cql3.CqlRecordReader` in `org.janusgraph.hadoop.formats.cassandra.CassandraBinaryRecordReader` and do the appropriate mapping of the binary types). Do you think such an a

[2017-05-02 06:40] rkozmer opened #252 "order().by(property) doesn't work with mixed index"
Results from the mixed index are not sorted natively (in my case by Lucene). Instead the slow comparator is used.

Index looks like:
[code]
Query:
[code]

As already discussed with @twilmes on gitter, the LuceneIndex.getSortOrder(IndexQuery) is being called with this incomplete query, the order-part is missing:
[code]

[2017-05-02 12:52] twilmes commented on #252
Thanks for entering this @rkozmer. I tracked this down to JanusGraph checking to see if the incoming Gremlin order comparators are instances of `ElementValueComparator`. It appears that this changed at some point on the TinkerPop side so we need to instead expect an `ElementValueTraversal`. I'll finish change up and push for review.

[2017-05-02 12:57] twilmes commented on #241
@amcp I got word back from Sonatype. They do not have an association with MVN Repository so couldn't help there but confirmed things were good in MVN central so our publishing process was fine. I checked MVN Repository this morning and I'm no longer seeing duplicates. Not sure what happened but they appeared to clean it up.

[2017-05-02 12:57] #241 closed

[2017-05-02 14:26] pluradj commented on #241
Everything looks ok over here too http://search.maven.org/#search%7Cga%7C1%7Cjanusgraph-core

[2017-05-02 14:36] pluradj commented on #249
The difference in output is related to the usage of `:remote console`. If you follow the existing directions in that chapter with a direct connection which does not use the server, the results are consistent with the docs. In the case of using a server, the result is serialized with GraphSON. In the case of a direct connection `graph = JanusGraphFactory.open('conf/...')`, the result is the `toStri

[2017-05-02 17:11] FlorianHockmann opened #253 "Suggestion: Extend the Hadoop-Gremlin documentation"
The [current documentation of JanusGraph about Hadoop-Gremlin](http://docs.janusgraph.org/0.1.0/hadoop-tp3.html) is very short and doesn't really explain how to execute a vertex program on JanusGraph or how to execute traversals in OLAP mode. This led to many questions on the mailing list and on StackOverflow. It also doesn't help that there exist a variety of configuration options specific to Had

[2017-05-02 17:39] mbrukman commented on #228
@amcp – sorry, late to answer your question, but v0.1.1 SGTM (which is what you've already decided on).

[2017-05-02 20:45] #245 closed

[2017-05-02 20:50] amcp commented on #249
understood - closing

[2017-05-02 20:50] #249 closed

[2017-05-02 23:00] #195 closed

[2017-05-02 23:00] #196 closed

[2017-05-03 12:36] kedarmhaswade commented on #172
The other question is whether it is okay for JG to drop the support for Cassandra-2. Currently, the janusgraph-cassandra depends on:
[code]
Since there are incompatible changes, it appears that if we were to move JG to use Cassandra-3, we'd have to drop the support for Cassandra-2 (we should not be bundling cassandra-all with both 2.1.9 and the [latest 3.1.0](http://mvnrepository.com/artifact/org.

[2017-05-03 22:36] jerryjch commented on #220
Fixed by #237

[2017-05-03 22:36] #220 closed

[2017-05-04 02:27] sjudeng opened #258 "Test failure in TraversalInterruptionComputerTest"
Observing a test failure when isolating `TraversalInterruptionComputerTest#shouldRespectThreadInterruptionInVertexStep` through ThriftComputerTest.

[code]

Issue appears to be associated with the TinkerPop 3.2.4 update as it passes under 3.2.3. Test passed in full test runs as part of #208.

[2017-05-04 12:52] kedarmhaswade commented on #172
As discussed on the dev mailing list, I am going to try to replace the use of `ColumnFamilyRecordReader` by something that Cassandra-3 likes. I am _not_ going to make JanusGraph require Cassandra-3, because moving JG to use Cassandra-3 instead of Cassandra-2.1.9 (that it currently bundles) should be taken up as a separate task since there are quite a few dependencies (a casual change of `cassandra

[2017-05-05 20:04] rytilahti commented on #224
In my simple setup it was not enough to change the keyspace as shown in that mailing list question but the cluster_name in conf/cassandra/cassandra.yaml had also be adapted.

[2017-05-07 01:11] #235 closed

[2017-05-07 01:16] #238 closed

[2017-05-07 20:36] jerryjch opened #261 "[Doc] Move 'Extending JanusGraph Server' to the correct section"
The paragraph is in the wrong section under 'Indexing'

[2017-05-08 03:30] jerryjch opened #263 "Correct links in the source code from thinkaurelius to JanusGraph"
There are some links in the source code that still point to thinkaurelius site.

[2017-05-08 13:14] sjudeng opened #265 "HBaseStoreManagerConfigTest#testShortCfNames requires log level of WARN"
The testShortCfNames in HBaseStoreManagerConfigTest will fail unless logging level is at least WARN.

@jerryjch Any other option for this test? Can level be set to WARN as part of test and then updated back to original level after test runs? Other option might be to set HBaseStoreManager level explicitly in test/resources/log4j.properties so root level can be changed without breaking test.

[2017-05-08 15:16] jerryjch commented on #265
You were testing with changes to the bundled test/resources/log4j.properties?
I am fine with either of the suggestions.

[2017-05-08 15:22] jerryjch commented on #265
Ok, I see what you are doing in #251 to change the log level.

[2017-05-09 00:40] countrodrigo opened #267 "Emit stats for cache hits in addition to misses, retrievals, etc in ExpirationKCVSCache"
We currently only emit stats for retrievals, misses, expirations, however we do not emit stats for hits explicitly. Without hits, displaying the cache hit ratio is very awkward in systems like graphite. Also, it's easier to reason about hit ratio than miss ratio.

[2017-05-09 16:07] ruweih opened #268 "Issues in sample bulk loader with HBase"
Tried bulk loading sample with HBase using the configuration provided in current Janus release (0.1.0):

http://docs.janusgraph.org/latest/hadoop-tp3.html

Found two issues:

1. By default, the following instruction would not work in default configuration.
hdfs.copyFromLocal('data/grateful-dead.kryo','data/grateful-dead.kryo')
It would destroy the file since it copy to itself, and leave a hidden c

[2017-05-09 16:33] pluradj commented on #268
Improving Hadoop docs is related to https://github.com/JanusGraph/janusgraph/issues/253

[2017-05-10 02:07] #261 closed

[2017-05-10 02:08] #263 closed

[2017-05-10 23:59] sjudeng commented on #221
Closing after merge of #219

[2017-05-10 23:59] #221 closed

[2017-05-11 13:09] twilmes commented on #228
@amcp are we good to close this one out?

[2017-05-11 15:38] sharpau opened #270 "User-defined index prioritization"
As a JanusGraph user, I would like to be able to tell JanusGraph to prioritize certain indices higher than others, because I know things about the distribution of the keys in those indices that makes one index particularly slow.

Full background:

We've run into an issue with JanusGraph (preexisting from Titan) with index prioritization (referring to GraphCentricQueryBuilder#constructQueryWithoutP

[2017-05-11 15:40] amcp commented on #228
Good to close.

On May 11, 2017, at 10:09 PM, Ted Wilmes <notifications@github.com<mailto:notifications@github.com>> wrote:

@amcp<https://github.com/amcp> are we good to close this one out?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/JanusGraph/janusgraph/issues/228#issuecomment-300784061>, or mute the thread<https://git

[2017-05-11 15:50] #228 closed

[2017-05-11 22:32] sjudeng opened #271 "Update from javaslang to io.vavr"
The pending CQL backend (#166) adds the javaslang dependency. This should be updated to the new io.vavr coordinates.

[2017-05-16 18:31] pkendall64 commented on #271
We have a branch for this which we can create a PR for once the CQL backend is merged.
https://github.com/orionhealth/janusgraph/tree/feature/vavr

[2017-05-16 20:58] robertdale opened #272 "0.1.0 JanusGraph Docs issues, typos and whatnot"
As reported on https://groups.google.com/d/msg/janusgraph-users/L3xA6xp3btI/iUxvyYE7BwAJ

[2017-05-16 21:05] robertdale commented on #272
Pull request #273

[2017-05-17 19:14] robertdale commented on #272
Merged.

[2017-05-17 19:14] #272 closed

[2017-05-17 19:15] mbrukman commented on #272
Fixed by #273 on the `0.1` branch and #274 on the `master` branch.

[2017-05-18 21:26] twilmes opened #275 "janusgraph.compatible.versions not set in pom.xml"
The compatible versions were not updated during the 0.1.1 release so starting JanusGraph, pointed at an existing 0.1.0 database will fail. This does not affect users who are using JanusGraph with an existing Titan database.

[2017-05-20 09:38] wangxen opened #276 "Using Gremlin Driver connect to Gremlin Server"
When I  add multiple vertices or edges through gremlin driver, after tens of thousands, it break down：
[code]

[2017-05-20 17:17] mbrukman commented on #276
Sorry to hear you're running into this issue, @wangxen! Can you please provide more information to help debug this:

* which version of JanusGraph are you using
* which storage backend are you using, and configuration for this backend
* your platform (OS and version)
* if possible, a sequence of commands or a script that consistently reproduces this issue

[2017-05-21 04:06] wangxen commented on #276
using janusgraph-0.1.0-hadoop2.zip
storage backend：Hbase-1.0.3
I connect to gremlin-server via Java,
the sample demo as follows:
import org.apache.tinkerpop.gremlin.driver.Client;
import org.apache.tinkerpop.gremlin.driver.Cluster;
       Cluster cluster = Cluster.open("config/remote.yaml");
       Client client = cluster.connect();
       client.submit("graph.addVertex(T.label,'x','name','tom')")

[2017-05-21 04:11] wangxen commented on #276
using janusgraph-0.1.0-hadoop2.zip
storage backend：Hbase-1.0.3
I connect to gremlin-server via Java
demo:
import org.apache.tinkerpop.gremlin.driver.Client;
import org.apache.tinkerpop.gremlin.driver.Cluster;
       Cluster cluster = Cluster.open("config/remote.yaml");
       Client client = cluster.connect();
       client.submit("graph.addVertex(T.label,'x','name','tom')");

[2017-05-21 23:19] robertdale commented on #119
@jfstephe Could you clarify where the confusion is?  JanusGraph can be deployed as a cluster itself and/or on a clustered backend.  Is it there specific wording that's ambiguous?  For example, the [Graph Partitioning](http://docs.janusgraph.org/latest/graph-partitioning.html) page starts with:

Would it be better worded as

??

Also, is there something lacking in the deployment diagrams shown in t

[2017-05-22 08:38] jfstephe commented on #119
Hi,

So the first time I came across Titan I struggled to find out from the docs what 'clustering' meant. For me it conjured up nodes in the cluster talking to each other coordinating locking etc etc. This was not the case and I think it would be good to explicitly state that. IMHO I think it would be good to state that you could use one or N standalone nodes and they behave exactly the same regar

[2017-05-24 18:38] sharpau opened #281 "Index mutation failures don't cause transaction abort"
When a JanusGraph vertex property indexed in ElasticSearch is updated twice in separate transactions, ElasticSearch fails and the indexing backend throws an exception like so:
[code]

That isn't a problem by itself. However, JanusGraph swallows this exception and proceeds to commit the transaction as if nothing had happened. See this snippet from `StandardJanusGraph` (I am on 0.1.1 but it appears

[2017-05-24 18:55] sharpau opened #282 "Undesirable concurrent transaction handling"
Since roughly Titan 0.4.x, we've maintained an integration test that tests a number of graph behaviors when related changes are made concurrently (using Cassandra and ElasticSearch as the backends for the graph). A lot of these cases are handled as expected, but there are a few that have been recurring problems (for instance, creating ghost vertices, even on single node setups). In most cases, tra

[2017-05-26 03:09] kedarmhaswade commented on #172
@twilmes Can you assign this issue to me?

[2017-05-26 03:50] s-nel opened #283 "Index by label"
In Janus I can create a composite index for a single property. Why then can I not create a composite index for a vertex label without a property?

My use case is that we're using vertex labels to identify the type of the vertex (as suggested in Janus docs). We have a CRUD UI that allows users to browse objects of a given type, so we now want to show a paged list of people:

[code]

This results in

[2017-05-26 04:06] s-nel opened #284 "has(key) does not use index"
The Tinkerpop docs say:

I would expect the following query to use an index I've created on property key "foo" and label "bar"

[code]

but it instead results in a full graph scan. Here's a minimal example (Scala):

[code]

Janus 0.1.1

[2017-05-26 04:14] s-nel opened #285 "hasKey(key) throws NPE"
In Janus 0.1.1 when doing a simple `hasKey`, I get an NPE:

[code]

minimal code to reproduce (Scala):

[code]

[2017-05-26 14:58] twilmes commented on #285
Thanks for reporting this. I think that would be the expected behavior for `hasKey` because it operates on properties (e.g. `g.V().properties().hasKey("name")`), not vertices.

TinkerPop docs: `hasKey(keys...): Remove the traverser if its property does not have any of the keys.`

If you'd like to check for the existence of the `name` property on planet vertices, you can use a regular `has("name")`

[2017-05-26 15:39] amcp commented on #224
- [ ] Also need to set the id store name

[2017-05-26 15:49] amcp commented on #283
This proposed feature has the potential to introduce a hot key in graphindex for large graphs that have many vertices of a particular type. To implement this feature correctly, graphindex would also need to be partitioned (with the number of partitions defined by `cluster.max-partitions`). Otherwise, you will see latency increases in Cassandra/HBase and throttling on DynamoDB while using a vertex

[2017-05-26 15:58] amcp commented on #281
I think I noticed [a similar issue](https://github.com/awslabs/dynamodb-titan-storage-backend/blob/master/src/main/java/com/amazon/janusgraph/diskstorage/dynamodb/DynamoDBDelegate.java#L313) when implementing the DynamoDB storage backend. Basically, JanusGraph does not check for InterruptedException either (unless something changed since the last time I dealt with the issue).

[2017-05-26 16:00] amcp commented on #172
@kedarmhaswade I think you need to be on the committer list for us to be able to use the GitHub assign functionality. Nevertheless I think you should definitely work on this issue. Your intent is clear from the correspondence in this issue.

[2017-05-29 10:57] davidclement90 commented on #284
Hi,
Your index is define only on vertex "planet" and your request say that you search on vertex "bar".
You have two solutions :
- you define your index on all vertices labels.
- you define a second index on vertex "planet".

David.

[2017-05-29 15:58] kedarmhaswade commented on #172
@amcp Thank you! I think I should follow the instructions at https://github.com/JanusGraph/janusgraph/blob/master/CONTRIBUTING.md to get this done. Is that right?

[2017-05-29 19:59] s-nel commented on #284
"foo" and "bar" were for example. As you can see in my test, I create an index on name and planet label

[code]

then when i query it later

[code]

it's a full graph scan.

[2017-05-29 20:00] s-nel commented on #285
Ah okay that makes sense.

[2017-05-29 20:00] #285 closed

[2017-05-29 21:09] davidclement90 commented on #284
Your are right "has" do not use composite index, I read your issue to fast.
I think it is because the possibility to make an "exists" query was introduce in ES2. JanusGraph support ES2 only in master.
I think it would be a good improvement.
Until this feature, has("name", neq("")) should work in most cases.

[2017-05-30 01:23] #243 closed

[2017-05-30 01:25] sjudeng commented on #214
This is fixed in the 0.1.1 release.

[2017-05-30 01:25] #214 closed

[2017-05-30 01:27] sjudeng commented on #35
Merge of #166 resolves this issue.

[2017-05-30 01:27] amcp commented on #243
@sjudeng What is the new Cassandra TP test time?

[2017-05-30 01:28] #35 closed

[2017-05-30 01:28] #42 closed

[2017-05-30 01:29] #57 closed

[2017-05-30 01:49] sjudeng commented on #243
4.2 hours! Compare this to 14.9 hours from the last run prior to the fix.

[2017-05-30 02:22] #271 closed

[2017-05-30 06:52] FlorianHockmann opened #291 "Cassandra doesn't log to its log file"
When I start JanusGraph with the provided `janusgraph.sh` script without modifying anything I get the following warning and Cassandra doesn't log to the default log file `log/cassandra.log`:

[code]

This seems to only affect Cassandra as Gremlin Server and Elasticsearch both log to their own log files.
I manually deleted the `logback-classic-1.1.2.jar` from the `lib` directory which fixed the iss

[2017-05-31 01:01] sjudeng commented on #291
Good catch. It looks like there was a hard coded version in cassandra.in.sh. Should be fixed by #292.

[2017-05-31 06:15] FlorianHockmann commented on #291
Thank you very much @sjudeng! That was actually much easier to fix than I thought 😄

[2017-05-31 12:54] davidclement90 opened #293 "Allows to index points, circles and boxes in PREFIX_TREE mapping in ES"
With the current code, JanusGraph can not index points, circle and boxes for PREFIX_TREE mappings in Elasticsearch, but Elasticsearch allow to index this.

[2017-05-31 17:17] mbrukman opened #295 "Add Spark and Scala versions to compatibility chart"
http://docs.janusgraph.org/0.1.1/version-compat.html does not list Scala or Spark versions, and probably should, even though those versions may be tied to the TinkerPop version that JanusGraph supports.

Context: [mailing list](https://groups.google.com/d/msg/janusgraph-users/5P_ozL6PSpM/6Gk9x9THBgAJ)

[2017-06-01 16:38] kedarmhaswade opened #296 "Fix the documentation for the key to the graph of gods ..."
The index (see below) to the graph of gods should be fixed to use a 2-column table.
e.g.
|bold key | graph indexed key|

![image](https://cloud.githubusercontent.com/assets/50923/26690324/b5e97414-46ad-11e7-91db-2473754e8bc9.png)

[2017-06-01 23:25] kedarmhaswade commented on #172
See https://github.com/JanusGraph/janusgraph/pull/297.

[2017-06-02 02:53] cjquinon opened #298 "Improve documentation and error handling for GraphOfTheGodsFactory when no indexing backend configured"
When an indexing backend isn't configured, a user is unable to follow the getting-started documentation [here](http://docs.janusgraph.org/latest/getting-started.html).

They will run into the following exception:
[code]

I'd like to improve the error message in such situations so that a user is guided to use the loadWithoutMixedIndex method.  I'd also like to improve the documentation so that it i

[2017-06-03 15:19] pankajydv opened #301 "Multiple edges with same edgeid returned by VertexCentric indices"
The issue reproduces fairly easily on my production environment (on Titan), and reproduces on my dev environment only after few retries and changing the ConsistencyModifier to FORK followed by LOCK.

Following is the code, I used to reproduce the issue on my local environment on JanusGraph 0.1.1, Backed by Apahe-Cassandra 2.1.7

[code]

After chaning the ConsistencyModifier from DEFAULT to FORK an

[2017-06-04 21:39] sjudeng commented on #53
I ran through Thrift and CQL unit tests with Scylla (see #302). Results from CQL testing look especially good with the exception of TTL support. The results from Thrift testing show more issues beyond TTL. I don't think we need to spend much time on the Thrift issues if we're going to deprecate it but maybe others can weigh in with opinions on this as well. Note this doesn't include SSL tests, whi

[2017-06-05 19:45] MichaelMarkieta opened #304 "Add requirements to Docs and README"
I don't think the requirements for development, or to be able to download a release and run `bin/janusgraph.sh` are explicitly listed anywhere.

[2017-06-06 08:58] pankajydv commented on #301
Any updates here, we are suffering from this issue in our Live environment.

[2017-06-06 09:26] amcp commented on #53
@sjudeng @dylanht I agree we do not need to focus on Thrift in the ScyllaDB integration if it is on the deprecation path.

[2017-06-06 09:40] #187 closed

[2017-06-06 18:48] pluradj opened #306 "AttributeSerializer conflict on HashMap data type for migrated Titan graph"
JanusGraph now has a [native serializer](https://github.com/JanusGraph/janusgraph/blame/master/janusgraph-core/src/main/java/org/janusgraph/graphdb/database/serialize/StandardSerializer.java#L133) for the HashMap class and that's clashing with the custom HashMap serializer they had [added to Titan](http://s3.thinkaurelius.com/docs/titan/1.0.0/serializer.html) (even after the serializer is refactor

[2017-06-07 11:49] #293 closed

[2017-06-07 11:50] #222 closed

[2017-06-07 13:25] sjudeng commented on #306
Another solution would be to move HashMap serialization from StandardSerializer to test configuration. This would keep TinkerPop tests (e.g. [GraphComputerTest](https://github.com/apache/tinkerpop/blob/3.2.4/gremlin-test/src/main/java/org/apache/tinkerpop/gremlin/process/computer/GraphComputerTest.java#L2351), [PropertyTest](https://github.com/apache/tinkerpop/blob/3.2.4/gremlin-test/src/main/java

[2017-06-07 18:35] pluradj commented on #306
@sjudeng Interesting approach. I hadn't considered that idea -- @smcquillan thoughts?

[2017-06-07 18:53] smcquillan commented on #306
@sjudeng, @pluradj Sounds like it could work, but I assume moving it into test configuration would mean it was no longer available by default to new users of JanusGraph.

 If so then I’d be against it because we found it very useful to be able to store nested JSON within the graph. The fact that we couldn’t do this with Titan was what prompted us to add the custom HashMap serializer to Titan in th

[2017-06-07 19:19] sjudeng commented on #306
@smcquillan This update is only on master/0.2-SNAPSHOT (e.g. not in 0.1.x) so I'm not worried about any major impacts to users. I do agree generic HashMap serialization might be useful feature generally. Can you tell which serializer is loaded first (e.g. your custom one or the current native one)?

[2017-06-07 19:35] mbrukman commented on #9
Took a lot longer than I thought, and I ended up uploading build results manually for Coverity, but here's the result of the first scan: https://scan.coverity.com/projects/janusgraph-janusgraph

[2017-06-07 22:04] pluradj commented on #306
@sjudeng The native one is loaded first in the `StandardSerializer` constructor.

@smcquillan Is your custom serializer significantly different or better than what JanusGraph is using? If not, it might be nice to enable a away to migrate from the custom Titan serializer to the default JanusGraph serializer.

[2017-06-08 02:26] amcp commented on #140
One comment wasn't addressed. We should tell Gremlin Server to listen on 0.0.0.0. I think I've been burned by that in the past.

[2017-06-08 06:12] smcquillan commented on #306
@pluradj you might be better placed to say whether or not our customer one is better ;) its based upon one that you wrote [titan-attribute-serializer](https://github.com/pluradj/titan-attribute-serializer).

Also we've no particular preference as to which gets used, only that we can continue to read the data previously written. If our new customers were to use the `StandardSerializer` instead I do

[2017-06-08 09:25] smcquillan commented on #306
From the stack trace you can see that the method which adds in the custom serializers is `StandardSerializer.registerClass()`. I’m thinking that we’ll not have used the default HashMap serializer yet and so if we spot an attempt to add a custom one in this method then de-register the default one and then register the custom serializer as normal.

The code changes are quite simple, just six new lin

[2017-06-08 10:58] wojciechwojcik opened #309 "JanusGraphCleanup exception with embedded Lucene on Windows"
Configuration

[code]
When trying to do:
(https://stackoverflow.com/questions/19477443/how-to-delete-graph-in-titan-with-cassandra-storage-backend)

[code]

There is always an exception thrown:
[code]

It seems that lucene is holding locks on files as long as JVM is running. Trying to delete the index directory using generic FileUtils will always end up in IOException.

See also: https://stackover

[2017-06-08 11:17] wojciechwojcik opened #310 "Remove redundant dependency on org.apache.solr:solr-core"
When you want to use both solr and embeded lucene index backend (e.g. one for production, other for running tests), you need to specify two components on your maven/gradle dependencies list:

[code]

But then the embeded lucene stops working (you get AbstractMethod errors) due to version discrepancies between lucene 4.x and 5.x.

Inspecting the dependency tree shows the problem:

**+--- org.janusg

[2017-06-08 11:26] sjudeng commented on #310
I added #311 to update Lucene and Solr to their latest version. Can you test this out on that branch to see if the issue is resolved?

[2017-06-08 11:26] wojciechwojcik opened #312 "Empty CachedVertex pollute query results of embeded lucene mixed index"
Configuration
[code]

When trying to use search mixedIndex with embeded lucene:

[code]

We get:
[code]

The issue is intermittent and does NOT always occur.
When it does occur the results list size is doubled and each 'good' result has a CachedVertex with no properties set.

We can work-around this by manually filtering result list as shown in above code, but this makes using limit and offset opt

[2017-06-08 11:34] wojciechwojcik opened #313 "Fix JanusGraphIndexQuery indexQuery misleading javadoc"
Configuration:
[code]

Mixed index creation:
[code]

When you try to query the created index using:
[code]

**@param indexName Name of the indexing backend to query as configured** is misleading.

The call does NOT expect indexing backend name (in our case **search**), but the actual indexName created by janus management (in our case **indexByName**)

[2017-06-08 11:39] sjudeng commented on #306
@smcquillan Your approach looks good to me. I was worried it was going to be messy so glad it might be pretty simple. Only thing to do (and this is a surefire way to get more familiar with the code) is find relevant unit test class and add some cases to test this. I'll unassign myself from this issue since I agree this is better than moving the serializer to test configuration at this point.

The

[2017-06-08 11:45] wojciechwojcik opened #314 "When mixed index query contains quoted "\\" character IllegalArgumentException is thrown"
Minor issue

When trying to do:

[code]

The exception is thrown:
[code]

In our case the query string should really be
String queryString = "v.\"short_description\""

but the exception we got was not exactly helpful in finding the problem.
Also I do not see a documentation stating that special characters cannot be part of direct index query.

[2017-06-08 11:50] wojciechwojcik opened #315 "Fix solr cloud setup documenation, addtional command is needed"
In our test we found out that in order to make Janus work with solr-cloud mode
after performing steps described in

http://docs.janusgraph.org/0.1.0/solr.html
**24.1.2.2. Using Solr in SolrCloud Configuration**

You also need to execute command:
`/bin/solr zk -upconfig -n search -d /opt/solr/server/solr/configsets/search -z localhost`

Otherwise the collection will NOT be visible on the zookeeper,

[2017-06-08 11:58] wojciechwojcik opened #316 "Make JTS jar dependency for solr index optional"
Currently as described in
http://docs.janusgraph.org/0.1.0/solr.html
24.2.3. JTS ClassNotFoundException with Geo Data

you always get errors when trying to use solr with schema.xml provided by Janus.

Problem is GEO Data is NOT a primary use case and it would be good NOT to require/enable it by default.

Some downsides include:
1) Manual patching of Solr classpath complicates automatic deployment

[2017-06-08 12:01] aie0 opened #317 "Cassandra 2.1.9 vs 2.1.17 vs 2.2.9"
Hi,

In release notes of 0.1.1 version stated that it was tested against Cassandra 2.1.9, which is neither the latest version of 2.1 nor part of 2.2 release.

Will it work with 2.2.9 or at least with 2.1.17?

[2017-06-08 12:06] wojciechwojcik opened #318 "Add direct index query support for getting results count without fetching them all one by one"
When you implement paging oftentimes it is useful to not only return results limited to chosen page only (using limit and offset parameters) but also to get total number of matches, so that the UI knows how man pages there will be.

Currently Janus index query does NOT provide such option, forcing you to get all results via iterator one by one in order to count them all.

[code]

This is far from

[2017-06-08 12:11] wojciechwojcik opened #319 "Add index feature support matrix documentation for different backends"
Currently the mixed index documentation is heavily ES centric.

Some examples:
a) http://docs.janusgraph.org/0.1.0/index-parameters.html
21.1.3. Full text and string search
**"If you are using ElasticSearch it is possible to..."**
b) http://docs.janusgraph.org/0.1.0/direct-index-query.html
22.1. Query String
**"Elasticsearch and Lucene support ..."**
c) http://docs.janusgraph.org/0.1.0/search-pred

[2017-06-08 12:20] wojciechwojcik opened #320 "Add support for Solr 6"
As stated in
https://github.com/JanusGraph/janusgraph/releases/

Janus supports: Apache Solr 5.2.1, which was released in June 2015.
The latest apache Solr version 6 was released in 2016.

Currently when trying to use Janus with Solr 6 the core config provided by janus causes schema errors that cannot be easily fixed, so bigger changes are required.

[2017-06-08 12:25] aie0 commented on #320
Should be fixed by [#311](https://github.com/JanusGraph/janusgraph/pull/311)

[2017-06-08 13:24] pluradj commented on #317
Go ahead and try it. You should see that it works. For the 2.2.x version, make sure you enable thrift.

[2017-06-08 13:24] #317 closed

[2017-06-08 13:38] smcquillan commented on #306
Thanks @sjudeng. If someone wants to assign the issue to me then I'm happy to have a go at adding some test cases for this and try to get it into the next version.  Probably need some pointers on how we use Git and branching in JanusGraph though as it s probably different to how we're using it in ITSM.

[2017-06-09 02:20] #291 closed

[2017-06-09 05:29] jerryjch commented on #296
Fixed by the above two PRs.

[2017-06-09 05:29] #296 closed

[2017-06-09 06:32] wojciechwojcik commented on #310
In the files changed I can clearly see that the issue is NOT resolved.
The dependency to solr-core is still there.
I've added a new comment under #311.

[2017-06-09 06:38] wojciechwojcik opened #327 "Add Solr mixed index support for properties with List and Set cardinality"
See
https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-solr/src/main/java/org/janusgraph/diskstorage/solr/SolrIndex.java#L823
[code]

It is clear that properties with cardinality are NOT supported with solr index backend.

See also related issue #319

[2017-06-09 06:44] wojciechwojcik opened #328 "Add Solr mixed index support for TEXTSTRING mapping"
See:

https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-solr/src/main/java/org/janusgraph/diskstorage/solr/SolrIndex.java#L865

https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-solr/src/main/java/org/janusgraph/diskstorage/solr/SolrIndex.java#L882

[code]

It is clear that TEXTSTRING mapping is not supported for Solr.

See also related issue #319

[2017-06-09 07:08] wojciechwojcik opened #329 "Make mixed index updates behave in transactional way"
Configuration:
[code]

Mixed Index creation:
[code]

When you try to do:

[code]

In reality when solr server is over the network you will get empty results.
To workaround this issue you need to add arbitrary sleep time to wait for the data to be propagated to the index.

[code]

It seems that despite the fact:
1) Janus IS transactional by default and requires you to manually commit() the operatio

[2017-06-09 09:44] wojciechwojcik opened #330 "Mixed index for properties defined on properties do not work"
Configuration:
[code]

Try this fully functional code attached.
[test-janus.zip](https://github.com/JanusGraph/janusgraph/files/1063588/test-janus.zip)

JanusManagement allows to to define mixed index for a vertex property (no errors):
[code]

But I was not able to find a way to actually make use of it.
None of the below approaches work:
[code]

The result is:
[code]

The is no documentation to co

[2017-06-09 13:14] sjudeng commented on #310
I think the underlying issue here is an inconsistency in the Lucene version used in the janusgraph-solr and janusgraph-lucene modules which is fixed in #311. But currently (e.g. in 0.1/master) t's not possible to remove solr-core (the build fails) because janusgraph-solr depends on Lucene 5.

[2017-06-09 15:11] laughedelic commented on #284
I think it's not a workaround. I'm using somewhat similar:

[code]

and it gives me warnings about iterating over all vertices.

[2017-06-09 19:14] pluradj commented on #306
You can go ahead @smcquillan -- check out the details on JanusGraph specific Git flow in the [CONTRIBUTING.md](https://github.com/JanusGraph/janusgraph/blob/master/CONTRIBUTING.md#clone-your-fork-locally) and let us know if you run into any problems. Make sure you sign your commit with the same [email](https://github.com/JanusGraph/legal/blob/master/CLA_SIGNERS.yaml#L176) found in the CLA.

[2017-06-10 03:57] #295 closed

[2017-06-10 11:21] robertdale commented on #167
See also #239

[2017-06-11 02:44] amcp commented on #258
Also failing on hbase098 TP tests. Checking hbase10 now

[2017-06-11 02:49] amcp commented on #258
HBase10 did not appear to fail but I am running them again to be sure.

[2017-06-11 04:04] amcp commented on #111
I am now at 6 hours 49 minutes, with the HBase 098 and HBase 10 TinkerPop tests being the long pole. The second longest after TinkerPop HBase tests are TinkerPop Cassandra tests at 2 hours and 11 minutes. Is there any way we can make HBase TinkerPop tests take a shorter amount of time?

[2017-06-12 15:06] davidclement90 opened #335 "Split index in Elasticsearch"
Currently, JanusGraph use one Elasticsearch index for all its indexes and use elasticsearch type for choose the right index.
But this leads to :
1. I can not delete data in Elasticsearch when I delete an index in JanusGraph because it takes too much time.
2. "Sparcity :  Types almost always increase the sparsity of your data because different types have different fields."
3. "Scoring: Documents ar

[2017-06-12 16:52] chrislbs opened #337 "Publish Docker Images in Post Build Step"
Now that a docker image build exists, it would be useful to publish them to docker hub.

This will require the creation of a docker hub account and then either encrypting those credentials in the travis.yml file or adding those environment variables through the travis project itself. If that information can be updated, I can add the necessary changes to the travis.yml file and pom to handle the pu

[2017-06-13 02:15] amcp commented on #337
I've squatted for janusgraph organization in my dockerhub account a while back. How to proceed

[2017-06-13 08:37] wojciechwojcik opened #338 "Expose native index client for direct queries"
See #318. Still there are more use cases that require direct read-access to index.

E.g. with Solr if you want to use different parser than standard lucene query parser e.g. dismax or edismax, there are many more fields that can be set that just the query field:
https://cwiki.apache.org/confluence/display/solr/The+DisMax+Query+Parser
https://cwiki.apache.org/confluence/display/solr/The+Extended+Di

[2017-06-14 01:04] sjudeng commented on #140
Issue resolved by #308

[2017-06-14 01:04] #140 closed

[2017-06-14 01:22] #298 closed

[2017-06-14 17:37] smcquillan commented on #306
@sjudeng, @pluradj pushed the proposed fix up along with a unit test which checks a custom HashMap can be added. For the unit test I just extended the `SerializableSerializer` class to add an extra property into the HashMap when its deserialised, then check for this property which would only be present if the custom serialiser had been used.

Let me know if I've set up my fork etc correctly and sh

[2017-06-14 18:58] holleyism commented on #330
This appears to be fixed in the current master branch.  The original example posted, runs the query:
[code]
which correctly throws an error "The used key [origin] is not indexed in the targeted index [byNames].  Changing that to the query:
[code]
and running the entire test program, produces the following output:
[code]

[2017-06-14 20:00] sjudeng commented on #306
@smcquillan Yes please go ahead and create the PR and we can iterate from there. Thanks for taking this on!

[2017-06-15 00:02] nelsonw2014 commented on #213
It appears that the javadocs are not even being generated yet, so either a new issue should be created, or this issue should be updated to reflect that

[2017-06-15 00:14] mbrukman commented on #213
The link should point to https://javadoc.io/doc/org.janusgraph/janusgraph-core which will automatically redirect to the latest version, but all versions are accessible there via the dropdown.

[2017-06-15 06:28] smcquillan commented on #306
Not sure why but my pull requests are coming with the "cla: no" tag. At first I thought it was because my global Git user was coming up as "Scott McQuillan" so I tried again using "smcquillan" and amended the commit as per [CONTRIBUTING.md](https://github.com/JanusGraph/janusgraph/blob/master/CONTRIBUTING.md#configure-your-repo-to-match-the-cla) but that also came up with "cla: no"

[2017-06-15 16:04] robertdale commented on #313
Please review the fix and close this issue if you agree.

[2017-06-15 16:14] robertdale commented on #239
These two PRs allow withRemote() queries using JanusGraph Geo and Text predicates.

// Open Remote Traversal
graph = EmptyGraph.instance()
g = graph.traversal().withRemote('conf/remote-graph.properties')

// TinkerPop Predicates
g.V().has('age',within(5000))
g.V().has('age',without(5000))
g.V().has('age',within(5000,45))
g.V().has('age',inside(45,5000)).valueMap(true)
g.V().and(has('age',between(4

[2017-06-16 11:23] #147 closed

[2017-06-16 19:05] #239 closed

[2017-06-16 19:08] countrodrigo opened #347 "System backend operations default to QUORUM instead of LOCAL_QUORUM for Cassandra"
When using the Cassandra backend, using QUORUM as the default consistency level for system operations (system logs, schema operations) causes a JanusGraph deployment to become unavailable during Cassandra cross-rack partitions. There should be a configuration flag that allows the user to choose whether to use LOCAL_QUORUM or QUORUM for system calls.

[2017-06-17 12:45] sjudeng commented on #45
#148 has been merged which restores support for custom Long vertex ids in JanusGraph. Note that only Long ids are supported and they must be converted to valid JanusGraph ids for use in `g.addVertex(T.id, id)`. See recently updated [method documentation](https://github.com/amcp/janusgraph/blob/e34815e684db30c2499809be864d5439de0bc312/janusgraph-core/src/main/java/org/janusgraph/graphdb/tinkerpop/J

[2017-06-17 12:45] #45 closed

[2017-06-17 12:48] sjudeng commented on #92
With merge of #289 JanusGraph now only supports the ES REST HTTP client and the Transport client is no longer support.

[2017-06-17 12:48] #92 closed

[2017-06-17 12:54] sjudeng commented on #104
@rafatuita, @twilmes What's the status on this? I could have sworn this was done but I'm not finding the PR.

[2017-06-17 12:55] sjudeng commented on #114
JanusGraph does not yet support TinkerPop 3.3/Spark 2.

[2017-06-17 23:56] sjudeng commented on #258
This issue is resolved by https://github.com/apache/tinkerpop/pull/630 but this won't be merged in time for TinkerPop 3.2.5.

[2017-06-18 21:26] sjudeng commented on #53
I created https://github.com/scylladb/scylla/issues/2497 to track the issue with TTL when using ScyllaDB. The underlying issue is actually just that JanusGraph is expecting entities are expired immediately after TTL has elapsed whereas ScyllaDB currently treats TTL as a minimum and in particular doesn't expire cells until 1 second after TTL.

[2017-06-19 09:54] hapuer opened #349 "Hbase 1.2.0 guava version conflict"
Caused by: java.lang.IllegalAccessError: tried to access method com.google.common.base.Stopwatch.<init>()V from class org.apache.hadoop.hbase.zookeeper.MetaTableLocator

[2017-06-19 11:32] sjudeng commented on #349
This is usually an issue with classpath order. Guava Stopwatch is overriden in [janusgraph-hbase](https://github.com/JanusGraph/janusgraph/blob/84ead7d907b62061e30c5d3210e5e8422fd4648c/janusgraph-hbase-parent/janusgraph-hbase-core/src/main/java/com/google/common/base/Stopwatch.java) but the janusgraph-hbase jar must be before guava in the classpath.

[2017-06-19 14:37] robertdale opened #350 "Update to TinkerPop 3.2.5"
See changelog:  https://github.com/apache/tinkerpop/blob/3.2.5/CHANGELOG.asciidoc

Also fixes #131

[2017-06-19 14:56] sjudeng commented on #350
I have this done and will create a PR later today. There were just some minor updates needed to resolve test failures but otherwise it was pretty painless.

[2017-06-19 18:07] chrislbs commented on #337
@amcp We'll need whoever has access to the travis ci build to add some environment variables that specify the docker hub account credentials. I'm working on a more thorough docker image that supports multiple persistence configurations. I can likely update the travis yml to support publishing but it will still require someone with access to the travis build to do some updates.

[2017-06-19 19:30] holleyism commented on #329
This maybe a documentation update but when commit returns, I don't think the commit is actually complete because of the eventual consistency model.  You can use the addTransactionListener to know when the transaction is complete and trigger on that instead of using sleep.
[code]

[2017-06-20 00:08] sjudeng opened #352 "Guava copyright header"
Verify copyright headers are correct in [janusgraph-hbase-parent:Stopwatch.java](https://github.com/JanusGraph/janusgraph/blob/ec441ac6d87f3359c9740075786ec6de3651745e/janusgraph-hbase-parent/janusgraph-hbase-core/src/main/java/com/google/common/base/Stopwatch.java). The file currently includes both Guava and JanusGraph copyright headers.

[2017-06-20 03:22] #349 closed

[2017-06-20 10:38] wojciechwojcik commented on #330
If the NPE is fixed in the master that is great news.

Still not sure what vp query replacement is for?
[code]

Some docs on the topic would be helpful as well.

[2017-06-20 10:39] #320 closed

[2017-06-20 11:02] wojciechwojcik opened #354 "JanusGraph SchemaAction.REINDEX does not remove stale data from index backend"
According to:
http://docs.janusgraph.org/0.1.0/indexes.html

When you do:
[code]

You'd expect that index data is fully representative of what is currently stored in the graph database.
Still the database scanning works only one way: all existing vertices from storage backend are re-added to index backend.

Sometimes when vertex deletion does not get propagated to the index (e.g see #329), index c

[2017-06-20 13:07] holleyism commented on #330
vp is not a query replacement.  "v.", "e." and "p." are the prefixes that are replaced but it's possible it can be in the string other than the beginning.
e.g.:
graph.indexQuery("vertexByText", "v.name:v.john").vertices() //DOES NOT WORK!
graph.indexQuery("vertexByText", "$v$name:v.john").setElementIdentifier("$v$").vertices()
In the example:
"vp.origin:p*" remove "p." becomes "vorigin:p*".

[2017-06-20 14:44] wojciechwojcik commented on #330
@holleyism thanks for the explanation.
So I guess this leaves only the doc update.

[2017-06-20 19:13] sharpau commented on #283
@amcp The hot key problem already exists in plenty of schemas. Right now we use edges or property indices for types and other high-cardinality indices, and have to wade through all the problems that arise. I would love to see this issue get worked on, if only to spur better support for hot keys.

[2017-06-21 11:46] rafatuita commented on #104
I was sure that I had pushed a PR for this as well, I just checked and I've been using it on my production system for a while now... anyways, let me push it up.

[2017-06-21 13:08] #306 closed

[2017-06-21 15:07] #104 closed

[2017-06-22 07:08] #350 closed

[2017-06-22 14:13] robertdale commented on #354
I think there are a few options to explore for reindexing:

- iterate through each item in the index, add/update/delete as you suggest
- drop, create, reindex
- create tmp index, reindex, drop active index, rename tmp index

[2017-06-22 22:18] jerryjch opened #356 "Support HBase cell level TTL"
JanusGraph supports vertex, edge and property level TTL. This requires backend storage to support cell level TTL.
http://docs.janusgraph.org/latest/advanced-schema.html
The newer versions HBase support cell level TTL:
https://issues.apache.org/jira/browse/HBASE-10560
This is missing from the current JanusGraph HBase support.  Let's add it.

[2017-06-23 10:27] pankajydv opened #357 "NullPointerException - Collections.binarySearch while querying for edges"
`(new MultiVertexCentricQueryBuilder((StandardTitanTx) trans)).(vertices).labels(GraphConstants.M_PUBLISH).direction(Direction.IN).edges();
`

The above query fails with NullPointerException sometimes (it behaves correctly at times) in case if there are no incident edges for the input.

[code]

The exception mentioned above is for titan-cassandra-1.0.0, but is reproducible for janusgraph as well.

[2017-06-23 12:13] aie0 opened #358 "In memory Index Backends support"
Is it possible to add (is it already supported) to set index backend as in-memory one - for testing purposes?

[2017-06-23 13:25] ThomasKoppensteiner opened #359 "How do decrypt and / or unzip the `janusgraph-0.1.1.zip.asc` file?"
How do decrypt and / or unzip the `janusgraph-0.1.1.zip.asc` file?

What I did so far:

**Importing the keys**
`gpg --import KEYS`

**Decrypting**
[code]

Is this the correct procedure?
Does the `KEYS` file contain the correct keys?
If not, where to get them?

[2017-06-23 17:36] robertdale commented on #359
I believe it's just for verifying the file.
`gpg --verify janusgraph-0.1.1-hadoop2.zip.asc janusgraph-0.1.1-hadoop2.zip`

[2017-06-23 17:46] amcp commented on #357
@pankajydv can you create repro in a PR in the janusgraph-test module please?

[2017-06-23 18:08] #359 closed

[2017-06-25 03:32] greatsxm opened #361 "Issues about reindexing on MapReduce"
I use HBase as backend and I want to reindex on a graph by using mapreduce.
But I found some errors as follow:
[code]

I reduce the number of hosts and still some errors have occurred as below:
[code]

[2017-06-25 07:10] pankajydv commented on #357
I have not been able to reproduce it consistently, however putting this NULL check in `CacheVertex.loadRelations(final SliceQuery query, final Retriever<SliceQuery, EntryList> lookup)` has resolved this issue for me. I get this NullPointer exception for following query, when there is no edge for the following query

`(new MultiVertexCentricQueryBuilder((StandardTitanTx) trans)).(vertices).labels(G

[2017-06-25 07:23] pankajydv commented on #357
Created a pull request, #362. Request to please review and merge

[2017-06-26 03:37] holleyism opened #366 "Update new Callable pattern to be inner classes"
From review comment on PR#353, it was recommended to move the new Callable anonymous classes to be an inner class.

[2017-06-26 16:28] amcp opened #367 "Use CodeBuild without buildspec.yml at the root of this repository?"
I would like to figure out a way to orchestrate builds but at the same time remove
buildspec.yml from the root of the repository.

[2017-06-26 21:25] pluradj commented on #358
A quick search for "Lucene in memory" yields a few examples,  so it seems like to should be possible. I've been using Lucene with a `storage.directory` under `/tmp` for simple testing.

[2017-06-26 21:36] pluradj opened #368 "Eliminate 3rd party stylesheet and font dependencies"
The Avada stylesheet is says its license is GPL. Avada also pulls in a jQuery plugin called Isotope, which has a several [license options](http://isotope.metafizzy.co/docs/license.html). Font Awesome uses [SIL OFL 1.1](http://fontawesome.io/license/).
- [avada-stub/style.css](https://github.com/JanusGraph/janusgraph/blob/v0.1.1/docs/static/avada-stub/style.css#L8)
- [avada-stub/js/main.js](https:/

[2017-06-26 21:40] mbrukman commented on #368
If you need to add fonts which are more interesting than the default system-installed fonts, [Google Fonts](https://fonts.google.com/) has a number of free web fonts that are trivial to embed via CSS.

[2017-06-27 04:23] jerryjch commented on #356
A couple of important points here.

1. At the client side, HBase cell level TTL is set at the Mutation (Put) level. This means we can not create a single Put for a rowkey and add all the column cells with the same rowkey to the Put if there is a TTL on any of the column cells.  We have to create separate Put.  This is because the column cells on the same row may:
a.  Have no TTL.
b.  Have TTL.
c.

[2017-06-27 17:50] scottrpatterson opened #371 "Request new build profile for JanusGraph only distribution"
I would like a packaging of only the jars needed to open a JanusGraph instance in an jvm without any of the dependencies required for starting a gremlin server, elasticsearch server, cassandar server or even a servlet container.

I already have a J2EE web app in an existing servlet container and I would like to use JanusGraph's Java API inside my web app. If I build the hadoop2 profile and use all

[2017-06-27 18:37] amcp opened #372 "Pull up privilegedMode setting to pipeline JSON file to make ES tests pass"
ES will not start if run as root. Allow pipeline build actions to choose whether or not to run as root.

[2017-06-28 14:06] twilmes opened #373 "Geoshape properties can't be deserialized in OLAP mode"
A KryoException is thrown when attempting to deserialize any Geoshape properties in OLAP mode because Geoshape is missing a no-arg constructor.

[code]

[2017-06-28 14:31] sjudeng commented on #373
Is this with 0.1.0 or master? If on master try adding the below config.

[code]

Even if that works please keep this issue open as documentation should be added for this (as it is it's just [here](https://github.com/JanusGraph/janusgraph/blob/513d1f6adad2c3c01050c3205c862a6aae537e6e/docs/hadoop.txt#L86)).

[2017-06-28 14:47] twilmes commented on #373
Thanks @sjudeng , I bet that'll fix it. I'll keep this open, add docs, and update our hadoop configs.

[2017-06-28 17:32] sjudeng opened #374 "GeoshapeSerializer does not support legacy serialization method"
Need to update GeoshapeSerializer to support legacy (coordinate float array) point serialization so pre-0.2.0 graphs with Geoshapes can be read in 0.2.0. Thanks to @davidclement90 for pointing this out in #336.

[2017-06-28 21:16] disruptek opened #375 "Precision data type should be removed from the docs"
This missing type was confusing to this newbie.

[2017-06-29 14:15] pluradj commented on #371
Are you using Maven or Gradle to build your project? Which components are you pulling in? I'd assume `janusgraph-core`, `janusgraph-cassandra`, and `janusgraph-es`.

[2017-06-30 00:19] pluradj commented on #375
Not clear what you're referring to here. Do you have specific documentation links?

[2017-06-30 01:50] disruptek commented on #375
I tried to create a property key using Gremlin with the `Precision` type as per http://docs.janusgraph.org/latest/schema.html and http://docs.janusgraph.org/latest/search-predicates.html but received what appeared to be an essentially an "unrecognized symbol" error.

I found a list post https://goo.gl/U3MTz2 which seemed to suggest the deprecation of the Precision type.  Looking more closely, I fo

[2017-06-30 04:10] #368 closed

[2017-06-30 04:41] pluradj commented on #375
Thanks for the links. You're right. `Precision` and `Decimal` should be removed.

It looks like they were in [Titan 0.5.4](https://github.com/thinkaurelius/titan/tree/0.5.4/titan-core/src/main/java/com/thinkaurelius/titan/core/attribute) then removed in [Titan 0.9.0-M2](https://github.com/thinkaurelius/titan/tree/0.9.0-M2/titan-core/src/main/java/com/thinkaurelius/titan/core/attribute).

[2017-06-30 15:25] amcp commented on #111
@sjudeng TP CQL is the longest pole at 14 hours. TP hbase10 follows at 7 hours 47 minutes and then TP hbase098 at 6 hours 49 minutes. TP Cassandra at 2:11, under the initial 2.5 hour goal.

[2017-06-30 20:33] mbrukman commented on #151
@MichaelMarkieta — was there a PR submitted to address this issue? Can you link to it from here, or link to this issue from the PR so that it's easy to connect the discussion to the implementation?

[2017-06-30 21:33] twilmes commented on #373
I gave that a try and I'm still running into the same issue. `Geoshape` is being registered but for some reason `GeoShapeKryoSerializer` is not being called. I'll keeping digging.

[2017-07-01 02:34] jerryjch commented on #356
HBase cell-level TTL is available in versions 0.98.6 and above.
I will update the 0.98.x version in JanusGraph to 0.98.24 (the latest and last) as part of this ticket.

[2017-07-01 05:57] robertdale commented on #375
This was fixed in #170 .  The docs on the website don't get updated until a new release is made. So we'll have to wait until 0.2 is released.

[2017-07-01 12:39] sjudeng commented on #373
The Spark KryoRegistrator approach for custom serialization was originally added against TP 3.1.1. In the meantime it looks like there were some significant changes (e.g. [TINKERPOP-1321](https://issues.apache.org/jira/browse/TINKERPOP-1321)). The stack trace shows that TP shaded Kryo machinery is being used, which I guess doesn't recognize custom KryoRegistrator implementations.

I thought geosha

[2017-07-03 00:53] sjudeng opened #383 "Improve test performance in CQL backend"
Currently CQL tests, especially the TinkerPop tests, take considerably longer than for other modules. Below are sample runtimes for default (`mvn verify`) and default+TP (`mvn verify -Dtest.skip.tp=false`).

| Module | Default (hours) | Default+TP (hours) |
| ---- | ---- | ---- |
| berkeleyje | 0.2 | 2.3 |
| cassandra | 1.9 | 4.3 |
| hbase-10 | 0.6 | 8.9 |
| cql | 2.5 | 15.1 |

The longer runtimes

[2017-07-03 11:46] robertdale opened #385 "Improve CQL documentation"
None currently exists in the Cassandra chapter.  I tried enabling it in janusgraph-cassandra-es.properties but got a version mismatch error.

- What is it compatible with?
- Why would it be used? pros/cons?

[2017-07-04 15:52] davidclement90 opened #387 "Support all geometries features in ES and Solr."
Add test for Collection of Lines, Point and Polygon and support for GeometryCollectionin ES and Solr.

[2017-07-05 13:34] twilmes opened #390 "Add support for Geoshape predicates in OLAP traversals"
Geoshape predicates are currently not supported in OLAP mode.
[code]

@sjudeng did some investigation and deduced that this is probably a closure serialization issue:

[code]

[2017-07-05 13:46] #373 closed

[2017-07-05 16:47] dpitera opened #391 "JanusGraph should support the ability to access graphs dynamically."
With the addition of [this PR into TinkerPop](https://github.com/apache/tinkerpop/pull/569), implementations running the GremlinServer can customize their GraphManager for more customizability around creating/accessing/storing graph references. Since JanusGraph has adopted the version of TinkerPop that includes this code, let's get a good story around creating/accessing/storing graph references.

[2017-07-05 20:26] shawks03 commented on #114
My issue had nothing to do with support for TinkerPop 3.3/Spark 2, Spark 2 was just an example. The real issue is that Titan doesn't shadow any of their third party dependencies, thus causing conflicts with other projects using different versions of those dependencies.

[2017-07-05 20:35] sjudeng commented on #114
Got it, reopened.

[2017-07-06 01:28] Garriee opened #394 "MaprDB Storage Backend"
Hi, I am trying to make JanusGraph work with Storage Backend as MaprDB, need help on the changes needed. Thanks.

[2017-07-06 04:25] jerryjch commented on #394
Can you use HBase client API to access MaprDB?

You can start by looking at the JanusGraph docs on HBase, and for code start by looking at HBaseStoreManager.

[2017-07-06 10:51] wojciechwojcik commented on #338
Some propositions:

A) get native client directly for read-only operations
[code]

B) fix existing extra parameter passing framework, which currently does nothing + allow count only queries

[code]

This should be used e.g in
``org.janusgraph.diskstorage.solr.SolrIndex::query(RawQuery query)``
to pass further down to: ``SolrQuery::setParam()``

Example parameters (single value, may be comma separa

[2017-07-06 10:52] wojciechwojcik commented on #338
@holleyism see proposed changes above

[2017-07-06 17:09] amcp opened #395 "Use unlockLocally for deleteLocks or remove it."
Method [unlockLocally](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/diskstorage/locking/AbstractLocker.java#L409) wraps a call to `llm.unlock()`. `llm.unlock()` is also called in [deleteLocks](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgraph/diskstorage/locking/AbstractLocker.java#L396) but does n

[2017-07-06 18:17] srosenthal opened #396 "In 0.2.0 (master) Elasticsearch prints warnings about missing Content-Type header"
The warnings look like this:

`org.elasticsearch.client.RestClient - request [PUT http://127.0.0.1:34224/titan/_mapping/verticesByDocumentExternal] returned 1 warnings: [299 Elasticsearch-5.4.2-929b078 "Content type detection for rest requests is deprecated. Specify the content type using the [Content-Type] header." "Thu, 06 Jul 2017 15:02:53 GMT"]`

The Elasticsearch docs describe how the Content

[2017-07-06 22:40] #356 closed

[2017-07-07 03:47] sjudeng commented on #310
I understand you'd like to keep this issue open to track removal of the solr-core dependency but can we update your title/description to remove reference to the issue of broken embedded Lucene? I think that issue has been fixed with the merged Lucene/Solr version update.

[2017-07-07 05:56] wojciechwojcik commented on #310
Done

[2017-07-07 15:53] twilmes opened #398 "CQL storage adapter doesn't work with default configs and bundled Cassandra"
The bundled Cassandra 2.1.9 requires Cassandra binary protocol version 3 but the `CQLStoreManager` defaults to the newest protocol the bundled driver supports (v4) if no protocol version is specified.

[2017-07-07 16:09] #383 closed

[2017-07-07 19:01] robertdale commented on #385
I guess it was a bug. See #399

[2017-07-07 20:10] sjudeng commented on #74
@mbrukman With the merge of #384 we now have all default tests in all modules running under Travis. All tests pass consistently and sporadic job failures can (and should) be restarted individually by reviewers/maintainers.

https://travis-ci.org/JanusGraph/janusgraph/builds/251247896

Given this I think we can close out this issue and also #5 and #18, which are no longer needed. The only other thi

[2017-07-08 11:44] #396 closed

[2017-07-08 13:39] robertdale opened #402 "`Instant` support"
Docs reflect that `Instant` is not a supported [graph property type](http://docs.janusgraph.org/latest/schema.html#_property_key_data_type) but is a supported [index backend type](http://docs.janusgraph.org/latest/search-predicates.html#mixeddatatypes).  This is confusing and should be clarified.

[2017-07-08 13:41] robertdale commented on #402
FWIW, I can create a property key as data type Instant.class.  Seems like it should be supported.

[2017-07-08 13:42] amcp opened #403 "Isolate ES by containerizing in pre/post integration phases of failsafe"

[2017-07-08 13:44] amcp opened #404 "Use docker-compose v2.1 health check instead of wait-for-es script"

[2017-07-08 13:55] robertdale commented on #402
If it is considered supported, also should add to test case [here](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-test/src/test/java/org/janusgraph/graphdb/tinkerpop/JanusGraphDefaultSchemaMakerTest.java)

[2017-07-08 15:38] #398 closed

[2017-07-08 17:43] #316 closed

[2017-07-08 17:46] sjudeng commented on #132
It looks like maybe we can close this issue out? #186 mitigated the oncrpc dependency and JTS is fully optional at this point as well (#400 resolved the last remaining issue I'm aware of).

[2017-07-09 01:23] #403 closed

[2017-07-09 12:34] centosGit opened #407 "Conflicting groovy dependencies"
Hi

I am following the tutorials to setup a standalone gremlin server and then install janus graph dependencies as shown in the documentation. Installation goes fine but when i start the gremlin server i get exceptions on the groovy libraries pre installed with gremlin.

`Caused by: groovy.lang.GroovyRuntimeException: Conflicting module versions. Module [groovy-jsr223 is loaded in version 2.4.11 a

[2017-07-09 17:52] amcp commented on #111
@sjudeng Everything is passing now except for TP Cassandra, TP Hbase10 and TP Hbase098. The only builds now over 2.5 hours each are Hbase10 and Hbase098. What about TinkerPop test structure makes it difficult to divide the HBase test runs into multiple definitions?

[2017-07-10 04:25] pluradj commented on #407
You should make sure you match the Apache TinkerPop version with the version JanusGraph uses. JanusGraph 0.1.1 uses TinkerPop 3.2.3.

I'm curious to hear why you'd want to install JanusGraph into a standalone Gremlin Server. Unzipping the JanusGraph distributable gives you a working Gremlin Server out of the box with little fuss. It actually might make more sense to remove that section of the docu

[2017-07-10 20:17] robertdale commented on #407
And JG 0.2-SNAPSHOT uses TinkerPop 3.2.5 (which is where groovy 2.4.11 was introduced)

[2017-07-10 20:28] robertdale commented on #407
@pluradj I'm not sure what the tutorial is. Is it different than the section under [Advanced JanusGraph Server Configurations](http://docs.janusgraph.org/latest/server.html#_advanced_janusgraph_server_configurations) ?
  In any case, it is applicable to a deployment model of  [Remote Server Mode with Gremlin Server](http://docs.janusgraph.org/latest/cassandra.html#_remote_server_mode_with_gremlin_

[2017-07-10 21:11] pluradj commented on #407
Yeah, I believe @centosGit is referring to the docs under 7.4.2 ["Using TinkerPop Gremlin Server with JanusGraph"](http://docs.janusgraph.org/latest/server.html#gremlin-server-with-janusgraph) where it tells you to install `janusgraph-all` as a Gremlin Server plugin.

By unzipping the `janusgraph-0.1.1-hadoop2.zip`, you already have an environment ready for remote server mode with Gremlin Server.

[2017-07-10 21:42] pluradj commented on #132
I think so. I took a look again at the results of `mvn project-info-reports:dependencies`. It looks pretty clean, even with the new code in `janusgraph-codepipelines-ci`.

[2017-07-11 13:46] scottrpatterson opened #408 "Error while commiting index mutations for removing properties that are indexed"
I am running es embedded in the same jvm as JanusGraph 0.1.1.
[code]

While performing a commit for a bunch of mutations, one of my changes to remove a property throws a exception complaining about a variable name in es.

Since the script that is executed in elasticsearch is generated by janusgraph, where is the suspect variable name "index" coming from? If there are multiple properties().drop() i

[2017-07-11 13:52] scottrpatterson commented on #371
I am not building at all. I am using the distribution.

https://github.com/JanusGraph/janusgraph/releases/download/v0.1.1/janusgraph-0.1.1-hadoop2.zip

[2017-07-11 15:25] scottrpatterson commented on #371
Okay. I did a "mvn clean dependency:copy-dependencies" for those three projects, janusgraph-core, janusgraph-cassandra, and janusgraph-es.

Then I merged the "target/dependency" folders from each of those builds in a single dependency folder. I still end up with jars for janusgraph-test and other jars.

[dependency-list.txt](https://github.com/JanusGraph/janusgraph/files/1139393/dependency-list.tx

[2017-07-11 16:36] amcp commented on #132
looks good, closing

[2017-07-11 16:36] #132 closed

[2017-07-12 08:23] centosGit commented on #407
@pluradj  Yes that is exactly the section in the documentation that i was following. I got the impression that a production setup should follow that approach( setting up a stand alone gremlin server and pull janus graph dependencies ).

My bad. I was using tinkerpop 3.2.5 and not 3.2.3. I will close the issue.

Just a clarification. Are you saying that i should not bother with the approach i follo

[2017-07-12 14:06] twilmes opened #409 "Fold Or'ed conditions into JanusGraphStep"
Update the JanusGraphStep to fold in or'ed conditions eg.

[code]

[2017-07-12 15:34] pluradj commented on #409
duplicate of #163 ?

[2017-07-12 15:42] pluradj opened #410 "JanusGraph-Lucene returns edges that don't meet LESS_THAN predicate"
Originally from https://github.com/thinkaurelius/titan/issues/788 this is still an issue in JanusGraph 0.1.1

-----

I have a strange issue with titan-lucene. Under a certain condition titan-lucene returns edges that do not meet the predicate requirement LESS_THAN.
The purpose of my little application is to sync an external source (LDAP) with a Titan graph.

1. A full synchronization sends all ent

[2017-07-12 15:55] twilmes commented on #409
Ha, hilarious. Thanks @pluradj

[2017-07-12 15:55] #409 closed

[2017-07-12 18:09] dpitera opened #411 "Paginate column access in AstyanaxKeyValueColumnStore"
JanusGraph has a tendency to make queries to Cassandra with _very_ large
limits. For example, any query without a `.limit()` clause will fetch
all matching columns from a given row. These requests are usually
range-bound (e.g., only requesting columns that are edges, based on the
serialization logic) but are not limited.

Fetching millions of columns in a single request is not very friendly to
Cas

[2017-07-12 18:41] pluradj commented on #407
We should leave this open for updating the docs. I'm not clear what the use case would be to pull Gremlin Server from the Apache downloads site and then install JanusGraph into it. I guess one use case would be to configure a server with only the jars required for a specific backends. If you look in the zip file distribution's `lib` directory, you'll see dependencies for all the supported backends

[2017-07-12 18:52] robertdale commented on #131
@amcp This issue should be resolved in master, 0.2-SNAPSHOT via #350 . Can you verify?

Then this should be removed from the pom.xml:
[code]

[2017-07-12 19:17] jerryjch commented on #411
HBase has something similar with a build-in ColumnPaginationFilter.
https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-hbase-parent/janusgraph-hbase-core/src/main/java/org/janusgraph/diskstorage/hbase/HBaseKeyColumnValueStore.java#L137

[2017-07-13 01:51] sjudeng commented on #111
I think there are only three HBase TP test classes, so we could split them up that way (e.g. separate group for each class). It's just that each of these classes are an umbrella for a huge number of TP test classes that run through TP JUnit test runners and I'm not sure it's possible to split those since they're run as part of a single HBase TP test class.

Before we go further with splitting thou

[2017-07-13 10:24] centosGit commented on #407
@pluradj Thanks for the answer. I will change my approach and start using the janus graph distribution as is.

[2017-07-13 13:57] sharpau commented on #408
I don't know the answer to your question but the ES backend was completely rewritten for the 0.2.0 release, so it may be worth taking a snapshot build off of master and seeing if the problem still exists or not.

[2017-07-14 03:42] sjudeng commented on #74
@mbrukman Let me know if you have any objections to closing this and related issues out (or if you'd like more time to consider).

[2017-07-16 15:46] sjudeng commented on #111
I was wrong, HBase is not started/stopped for each test. But I was able to update the clearTable implementation in HBase10 to improve performance in that module. All tests (default+TP) in that module now run in 2.7 hours (compared to 8.9 hours without the update).

I'll take a look at HBase098 as well, though worse case I personally would be (extremely) satisfied if we could run all tests includin

[2017-07-16 18:01] #374 closed

[2017-07-16 18:08] #213 closed

[2017-07-16 23:33] mbrukman opened #415 "Add testing of Bigtable support via Bigtable emulator"
PR https://github.com/JanusGraph/janusgraph/issues/103 added support for Google Cloud Bigtable via the HBase backend, but the tests are only being run using HBase. We should add tests to run against the [Bigtable emulator](https://cloud.google.com/bigtable/docs/emulator).

@lindsayismith, I believe you ran the HBase test suite manually with the Bigtable emulator when you made the changes in PR #10

[2017-07-18 00:38] sjudeng commented on #74
Closing this as all default tests for all modules are running (and passing consistently) through Travis CI.

[2017-07-18 00:38] #74 closed

[2017-07-18 00:39] sjudeng commented on #5
Closing this since #74 is resolved.

[2017-07-18 00:39] #5 closed

[2017-07-18 00:40] sjudeng commented on #18
Closing this since #74 is resolved.

[2017-07-18 00:40] #18 closed

[2017-07-18 11:55] smcquillan opened #418 "Failure to correctly set ids.store-name=titan_ids can corrupt a Titan Cassandra"
I've been running into issues while connecting JanusGraph 0.1.2-SNAPSHOT to instances of Cassandra which have graphs previously populated by Titan 1.0.0. Initially things looked to be working fine as JanusGraph could read the data but things began to go wrong when I created a new property with something like the following:

[code]

The `newProperty` which had a data type of `String` got created fi

[2017-07-18 14:19] pluradj commented on #253
Low hanging fruit is to add an example OLAP properties file for HBase, similar to the one that's already there for [Cassandra](
https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-dist/src/assembly/static/conf/hadoop-graph/read-cassandra.properties).

HadoopMarc covered it in his recent blog post http://yaaics.blogspot.nl/2017/07/configuring-janusgraph-for-spark-yarn.html

[2017-07-19 09:50] lazyfighter opened #419 "hello why this can not insert to Graph"
![image](https://user-images.githubusercontent.com/17143488/28361189-9d90c2b4-6caa-11e7-92b0-2fbcd958fd73.png)

I

[2017-07-19 11:38] mbrukman commented on #419
@lazyfighter — could you please post code snippets as text, instead of screenshots? That makes it easier for others to quote parts of your code to suggest changes.

Also, did you not finish your message? There seems to be some trailing text at the end of it.

[2017-07-19 12:45] FlorianHockmann commented on #419
This was already answered on the Gremlin users mailing list where also more information was provided:
https://groups.google.com/forum/#!topic/gremlin-users/Ee_dy-HIl58

The solution was to simply iterate the traversal.

[2017-07-19 13:33] pluradj commented on #419
Thanks @FlorianHockmann. @lazyfighter please use the mailing lists for usage question and answers. The issues tracker is for bug reporting. Closing.

[2017-07-19 13:33] #419 closed

[2017-07-19 13:49] pluradj commented on #418
Thanks for reporting @smcquillan -- I was able to see the `WARN` behavior, but I didn't manage to reproduce the graph corruption. I can understand how it could happen though because some of the ids are stored in `titan_ids` while newer ones are stored in `janusgraph_ids`.

Based on your write up, it sounds like you are suggesting 2 options.

First option is to update the migration docs with the ex

[2017-07-19 15:30] smcquillan commented on #418
@pluradj good summary and yes for the first option I did still notice that, as you suspected, the `janusgraph_ids` table had still been created as I saw a directory of that name in the Cassandra data directory. However, unlike before when I didn't change  `ids.store-name` it was empty after I created the new proprety and so I assume had not been used.

I favour the second option and while debuggin

[2017-07-19 16:08] pluradj commented on #418
@amcp put the fix in for #228 so it'd be good to hear his feedback

[2017-07-19 16:33] amcp commented on #418
You can check for the presence of ids.store-name in config and throw an exception if not present in certain circumstances. Is it possible to check for the presence of ids.store-name config at startup, after we have read the database version from system_properties?

[2017-07-19 18:15] robertdale commented on #167
@MichaelMarkieta  This should be resolved. Please close the issue.

[2017-07-19 19:02] robertdale opened #420 "JanusGraphIoRegistry support of multiple serializer versions"
Currently, there is only one JanusGraphIoRegistry.  There are older v1 of serializers. Then there are newer v2 of serializers.  For instance, there are GraphSON 1.0 and GraphSON 2.0.  Unfortunately, something like Geoshape is hardcoded in JanusGraphSONModule (to which JanusGraphIoRegistry delegates) to use GeoshapeGsonSerializerV1 .  I don't know the story behind Geoshape support for GraphSON 1.0.

[2017-07-19 20:50] sjudeng commented on #420
Not sure if it's relevant but recently-merged #376 (which added the support for GraphSON 2.0) included [some tests](https://github.com/JanusGraph/janusgraph/blob/78bbe5aa65dc2f31e13a004fa21a213de2741cc4/janusgraph-test/src/main/java/org/janusgraph/graphdb/JanusGraphIoTest.java#L77-L82) for GraphSON 1.0/2.0 IO.

[2017-07-20 07:31] smcquillan commented on #418
@amcp did some testing and it does look like its possible to check for the presence of `ids.store-name` at startup after reading form the database. I added the second two lines of following to the GraphDatabaseConfiguration constructor to print it out:
[code]
And the results when reading from a Cassandra previously populated by Titan ( and an empty Cassandra ) was the following:
[code]
Whereas the

[2017-07-20 08:43] amcp commented on #418
@smcquillan I sort-of agree with the approach. On second thought, I'm not sure I like the fact that we have to bring down a Cassandra cluster to change this value. Seems like we could just set it locally, and just use the titan_ids table as usual. I can foresee a need to do a wave restart of hosts in the cassandra cluster and change the nodes one by one. Maybe the answer is, don't do any of these

[2017-07-20 10:28] smcquillan commented on #418
@amcp I'm in complete agreement about trying to avoid bringing down a Cassandra cluster to change this value and this is what I want to avoid. I think the problem boils down the fact that JanusGraph has ids.store-name in the GLOBAL configuration and persists this to Cassandra whereas Titan does not.

Bit reluctant to move ids.store-name to LOCAL given that its currently GLOBAL, would that not affe

[2017-07-20 15:45] robertdale commented on #420
@sjudeng It is relevant. Note that only the [v1 serializers are registered with JanusGraphSONModule](https://github.com/JanusGraph/janusgraph/pull/376/files#diff-4a920cb0f4947a2678963f6822821a9fR53) (hence JanusGraphIoRegistry).  When using the GraphSONMessageSerializerGremlinV2d0, Geoshape is still locally serialized as GraphSON 1.0 which uses the `@class` key to determine type.  When v2 deserial

[2017-07-20 18:15] sjudeng commented on #420
Got it. Your approach of separate JanusGraphIoRegistry sounds good to me. We'll have to add a V3d0 when we update to TinkerPop 3.3.

Separately it sounded like you weren't able to get 1.0 serialization to work properly through gremlin server? Is this a separate (bug) issue?

[2017-07-20 21:01] xdev-developer opened #422 "Edges traversal streaming - enclosing transaction is closed error."
Hello.

I've REST API service for graph interaction.
For retrieving graph object I use traversal.toStream API.

On some load(other requests processing (create/get objects)), edges stream failed with error:
[code]

Vertex streaming working fine.

setup:
JanusGraph 0.1.1
storage backend - cassandra.
tinkerpop (3.2.3/3.2.5)

[2017-07-20 21:16] #335 closed

[2017-07-21 11:55] smcquillan commented on #418
I've had some success with the following logic:

1. `graph.titan-version` is set and is '1.0.0'
2. `ids.store-name` is set in LOCAL and equal to 'titan_ids'
3. `ids.store-name` is **not** set in GLOBAL ( as read from KCVSConfiguration )

If all the above are true set `ids.store-name` in the  [overwrite](https://github.com/JanusGraph/janusgraph/blob/master/janusgraph-core/src/main/java/org/janusgra

[2017-07-24 08:26] smcquillan commented on #418
@amcp @pluradj  I've pushed some changes up to a local branch [titanIdStoreIssue418](https://github.com/JanusGraph/janusgraph/compare/master...smcquillan:titanIdStoreIssue418) which fixes the issue in my environment.

The majority of the changes being in the `checkBackwardCompatibilityWithTitan` method using the logic in the comment above. There's one other change to check if default global value

[2017-07-24 12:20] xdev-developer commented on #422
Update:
Error only occurred when iterator of traversal is used (every step computed).

I understand this is multit-threaded issue - other request closes my transaction, but
why I'ts not happening with vertices traversals and why new transaction isn't opened.

[2017-07-24 14:16] sriluvan opened #424 "Security Vulnerabilities with some of the components"
Recently we scanned JanusGraph v.0.1.1 using Blackduck. The scan identified many open CVEs with some of the associated components included in the JanusGraph v.0.1.1 distribution:

Apache HttpComponents Client - 3.1
Apache Thrift 0.9.0
Cassendar 2.1.9
Apache Tomcat 5.5.23

Any work going on to upgrade these?

Is JanusGraph 0.1.1 production ready?